.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus {
    box-shadow: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #2B221E;
    color: #fff;
}

.dropdown-item:focus {
    color: #fff;
}

.btn-close:focus {
    box-shadow: none;
}

.VK_user_sidebar {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.user_profile_menu a {
    color: #6A6A6A;
    font-weight: 600;
}

.user_profile_menu .icon {
    fill: #6A6A6A;
}

.VK_user_heading {
    font-size: 22px;
    font-weight: 600;
    color: #2A221E;
}

.VK_emptyadd {
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
}

/* active */
.VK_user_active {
    background-color: #2B221E !important;
    color: white !important;
}

.VK_payment_acc_active {
    background-color: #2B221E;
    color: #fff;
}

.VK_user_active .icon {
    fill: white !important;
}

.VK_ul {
    list-style-type: disc !important;
}


/* logout */
.VK_logout_txt {
    font-size: 20px;
    font-weight: 600;
}

.VK_logut_cancle {
    width: 100%;
    padding: 14px 0px;
    border-radius: 5px;
    border: 1px solid #2B221E;
    background-color: white;
    color: #2B221E;
    font-weight: 600;
}

.VK_logout_ok {
    width: 100%;
    padding: 14px 0px;
    border-radius: 5px;
    background-color: #2B221E;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}

/* user profile */
.VK_profile_heading {
    font-size: 24px;
}

.VK_profile_div {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_proflie_logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VK_proflie_img {
    height: 60px;
    width: 60px;
    background-image: linear-gradient(#DBDEF6, #B0B3EF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
}

.VK_profile_det {
    font-size: 18px;
}

.VK_from_input {
    color: #000000;
    outline: none;
    background-color: #EDEDED;
    border: none;
    border-radius: 5px;
}

.VK_input_label {
    font-size: 15px;
    color: #6A6A6A;
}

.VK_model_heading {
    font-size: 20px;
}


/* edit model */


.form-check-input:checked {
    background-color: black !important;
    border-color: black !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.VK_edit_radio .form-check-label {
    font-size: 18px;
    font-weight: 600;
}

.form-check-input {
    border: 1px solid black !important;
}

.VK_edit_submit {
    padding: 10px 60px;
    color: white;
    background-color: #2B221E;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}

.VK_edit_radio input[type="radio"] {
    margin-top: 7px;
}








/* faq models */
.VK_faq_accordians .accordion-item {
    margin-bottom: 30px;
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_faq_acco_txt {
    color: black;
    font-weight: 600;
}

.VK_faq_acco_desc {
    color: #6A6A6A;
    font-size: 15px;
}

.VK_faq_accordians .accordion-button {
    border: none !important;
    padding: 20px;
}

.VK_faq_accordians .accordion-collapse {
    border-top: 1px solid #ddd !important;
}

.VK_faq_accordians .accordion-button:focus {
    box-shadow: none !important;
}

.VK_faq_accordians .accordion-button:not(.collapsed) {
    color: black;
    background-color: white !important;
}

.VK_faq_accordians .accordion-button::after {
    display: none !important;
}

.VK_faq_accordians .accordion-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
}




/* term of condition */
.VK_Term_of_use {
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_term_ul li {
    color: #6A6A6A;
    font-size: 14px;
    line-height: 1.2;
}

.VK_dactive {
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_deactive_ul li {
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}

.VK_dactive_btn {
    background-color: #2B221E;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 12px 40px;
}

/* deactive model */
.VK_dactive_model {
    font-size: 20px;
    font-weight: 500;
}

.VK_deactive_num {
    background-color: #EDEDED;
}

.VK_otp_box {
    height: 50px;
    width: 50px;
    text-align: center;
}

.VK_send_otp_btn {
    text-decoration: underline;
    font-size: 12px;
}

.VK_deactive_tct {
    color: #6A6A6A;
    font-size: 14px;
}

.VK_stay {
    background-color: white;
    color: #2A221E;
    border: 1px solid #2A221E;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
}

.VK_dactivete {
    background-color: #2A221E;
    color: white;
    border: 1px solid #2A221E;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
}




/* myorder */

.VK_empty_order_btn {
    background-color: #2B221E;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
}


/* myorders */
.VK_order_detail {
    width: 35%;
}

.VK_order_card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_order_product {
    min-height: 150px;
    padding: 20px;
}

.VK_order_price p {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    margin-top: 5px;
    font-weight: 700;
}

.VK_order_status {
    font-size: 22px;
}

.VK_order_dots {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: black;
}

.VK_order_stu {
    font-size: 18px;
}

.VK_order_date {
    font-size: 16px;
    color: #6A6A6A;
}

.VK_track {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.VK_order_btn_active {
    background-color: #2B221E !important;
    color: white !important;
}

.VK_order_btn {
    background-color: white;
    color: #2B221E;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #2B221E;
    font-weight: 600;
}


/* address */
.VK_add_address {
    background-color: #2B221E;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 40px;
}

.VK_address_parent {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
}

.VK_address_div {
    border: 1px solid #272727;
}

.VK_address_typ {
    background-color: #E7E4DA;
}

.VK_address_drop_down .dropdown-toggle::after {
    display: none;
}

.Address_header {
    border-bottom: 1px solid #6A6A6A;
}

.VK_add_address_model_heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.VK_address_form input {
    font-size: 14px;
}

.VK_address_form input {
    font-size: 14px;
}

.VK_add_address_submit {
    background-color: #2B221E;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
}


.V_border_bottom{
    border-bottom: 1px solid #6A6A6A;
}

/* payment method */
.VK_border_bottom {
    border-bottom: 1px solid #6A6A6A;
    padding-bottom: 1rem !important;
}

.VK_card_box {
    background-image: linear-gradient(#0E1624, #000000);
    border-radius: 10px;
    height: 220px;
}

.VK_paymentbox {
    box-shadow: 1px 6px 19px 0px #A4A4A433;
    height: 600px;
}

.VK_paymentbox .VK_paymenthead {
    padding: 16px 30px;
    border-bottom: 1px solid #6A6A6A;
}

.VK_paymentbox .VK_paymentdata {
    padding: 22px 30px;
}

.VK_card_num {
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.VK_card_del_tit {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.425);
}


.VK_paymentselect {
    color: #2B221E !important;
}

.VK_empty_card {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VK_payment .accordion-button:not(.collapsed) {
    background-color: #2B221E;
    color: #fff;
}

.VK_payment .accordion-button:not(.collapsed) .icon {
    fill: #fff;
}

.VK_payment .accordion-button {
    padding: 24px;
    color: #6A6A6A;
    font-weight: 600;
}

.VK_payment .accordion-button:focus {
    box-shadow: none;
}

.VK_payment_acoridan button {
    box-shadow: none !important;
    background-color: white !important;
    padding: 0;
}

.VK_payment .accordion-body {
    padding: 20px;
}

.VK_payment .accordion-body li {
    margin-bottom: 20px;
    color: #6A6A6A;
}

.VK_payment .accordion-body li:last-child {
    margin-bottom: 0;
}

.VK_payment .accordion-button:not(.collapsed)::after {
    background-image: url('../../assets/downarrow.png');
}

.VK_payment .accordion-body ul {
    padding-left: 50px;
}



/* upi card */
.VK_upi_card {
    border: 2px solid #9C9C9C;
    border-radius: 5px;
    padding: 10px 15px;
}

.VK_theme_bg {
    background-color: #EDEDED !important;
}



/* Track Order */


.V_pad {
    padding: 20px;
}

.VK_trackorder_heading {
    font-size: 28px;
    font-weight: 600;
}

.V_full_pair {
    font-size: 18px;
    font-weight: 600;
}

.V_full_child_text {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
}

.V_light {
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
}

.V_track_order_price {
    font-size: 20px;
    font-weight: 500;
}

.V_label {
    font-size: 12px;
    font-weight: 500;
    color: #727272;
}

.V_label_value {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.V_confirmed {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.V_track_time {
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 10px;
}

.V_order_description {
    font-size: 11px;
    font-weight: 400;
    color: #6A6A6A;
}

.V_back-line {
    position: absolute;
    width: 80%;
    border: 0.32px dashed #6A6A6A;
    top: 87px;
    z-index: -1;
    left: 110px;
}

.V_back-line2 {
    position: absolute;
    width: 78%;
    border: 0.32px solid #6A6A6A;
    top: 55px;
    z-index: -1;
    left: 125px;
}

.V_back-line3 {
    position: absolute;
    width: 78%;
    border: 0.32px solid #6A6A6A;
    top: 55px;
    z-index: -1;
    left: 125px;
}

.V_back-line4 {
    position: absolute;
    width: 78%;
    border: 0.32px dashed #6A6A6A;
    top: 55px;
    z-index: -1;
    left: 125px;
}

.V_right_border {
    border-right: 0.5px solid #646464;
}

.V_delivery_address {
    font-size: 18px;
    font-weight: 600;
}

.V_customer_name {
    font-size: 16px;
    font-weight: 500;
}

.V_customer_address {
    font-size: 13px;
    font-weight: 400;
}

.V_customer_number {
    font-size: 14px;
    font-weight: 400;
}

.V_delivery_address_width {
    width: 260px;
}

.V_ame_exp {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.V_card_name {
    font-size: 12px;
    font-weight: 500;
    color: #6A6A6A;
}

.V_success {
    color: #0F993E;
}

.V_invoice_width {
    padding-left: 100px;
}

.V_invoice {
    font-size: 18px;
    font-weight: 600;
}

.V_down_invoic {
    font-size: 16px;
    font-weight: 500;
    text-decoration: 2px underline;
}

.V_cancle_order_btn {
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 60px;
    border: 1px colid black;
    border-radius: 5px;
}


.V_complasery {
    color: red;
}

.V_textarea {
    height: 100px;
    background-color: #EDEDED;
    border: 0px;
    border-radius: 5px;
}

.V_order_success {
    border: 1px solid black;
    border-radius: 5px;
}

.V_success_modal {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.V_confirmed1 {
    color: #6A6A6A;
    font-size: 13px;
    font-weight: 500;
}

.V_track_time1 {
    font-size: 10px;
    font-weight: 500;
    color: #6A6A6A;
    white-space: nowrap;
}

.V_new_details {
    width: 300px;
}

.V_wed {
    font-size: 14px;
    font-weight: 400;
}

.V_full_pair_review {
    font-size: 22px;
    font-weight: 600;
}

.V_bg_star {
    background-color: #feefd9;
}

.V_bg_star .V_star {
    color: #F8A120;
}

.V_rate_this {
    font-size: 18px;
    font-weight: 500;
}

.V_star_size {
    width: 40px;
    height: 40px;
    color: #F8A120;
}

.V_star_size1 {
    width: 40px;
    height: 40px;
    color: #6A6A6A;
}

.V_rev {
    font-size: 18px;
    font-weight: 500;
}

.V_review_textarea {
    width: 1480px;
    height: 225px;
    background-color: #EDEDED;
    border-radius: 5px;
    border: 0px;
}

.V_add_image {
    color: #6A6A6A;
    border: 1px dashed #3d3c3c;
    font-size: 53px;
    width: 86px;
    height: 86px;
    background-Color: #d3d3d3;
    border-Radius: 8px;
    cursor: pointer;
}

.V_cancle {
    margin-top: -75px;
    margin-left: -15px;
}

.V_submiy_rate_button {
    border-radius: 5px;
    padding: 10px 70px;
    background-color: #2B221E;
    color: white;
    border: none;
}

.VK_border_bottom1 {
    border-bottom: 1px solid #6A6A6A;
    padding-bottom: 2rem !important;
    width: 1470px;
}

.VK_order_product .VK_subtrack img {
    width: 27px;
    height: 44px;
}

.dropdown-toggle::after {
    display: none !important;
}

.VK_subtrack::-webkit-scrollbar {
    display: none;
}

/* -------------------------------------------------------- media query -------------------------------------------------------- */




/*  extra small device */
@media (max-width:480px) {

    .VK_add_address {
        padding: 8px 20px;
    }

    .VK_edit_profile_model .modal-dialog {
        width: 100% !important;
    }

    .VK_deactive_model .modal-dialog {
        width: 100% !important;
    }

    .VK_logout_model .modal-dialog {
        width: 100%;
    }

    .VK_add_address_model_ .modal-dialog {
        max-width: 100% !important;
    }

    .VK_logut_cancle {
        padding: 7px 0px;
    }

    .VK_logout_ok {
        padding: 7px 0px;
    }

    .VK_otp_box {
        height: 38px;
        width: 16% !important;
        text-align: center;
    }

    .VK_dactive_btn {
        width: 100%;
        text-align: center;
    }

    .VK_Term_of_use {
        padding: 30px 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
    }

    .VK_order_detail {
        width: 100%;
    }

    .VK_order_images {
        width: 100%;
        object-position: top;
        max-height: 170px;
    }

    .VK_order_stu {
        font-size: 17px;
    }

    .VK_order_price {
        width: 100%;
    }

    .VK_order_date {
        font-size: 15px;
    }

    .VK_card_num {
        font-size: 20px;
    }

    .VK_card_box {
        height: 180px;
    }



    .V_full_pair {
        font-size: 12px;
    }

    .V_full_child_text {
        font-size: 10px;
        width: 100%;
    }

    .V_light {
        font-size: 10px;
    }

    .V_track_order_price {
        font-size: 16px;
    }

    .V_back-line {
        width: 62%;
        left: 65px;
        top: 52px;
    }

    .V_delivery_address_width {
        width: 105px;
    }

    .V_customer_name {
        font-size: 12px;
    }

    .V_delivery_address {
        font-size: 14px;
    }

    .V_customer_address {
        font-size: 10px;
    }

    .V_invoice_width {
        padding-left: 10px;
    }

    .V_card_name,
    .V_ame_exp {
        font-size: 10px;
    }

    .V_confirmed {
        font-size: 10px;
    }

    .V_invoice {
        font-size: 14px;
    }

    .V_down_invoic {
        font-size: 12px;
    }

    .V_customer_number {
        font-size: 10px;
    }

    .V_confirmed1 {
        font-size: 10px;
    }

    .V_review_textarea {
        width: 100%;
        height: 120px;
    }

    .VK_border_bottom1 {
        width: 100%;
    }

    .V_full_pair_review {
        font-size: 16px;
    }

    .V_star_size {
        width: 30px;
        height: 30px;
    }

    .V_star_size1 {
        width: 30px;
        height: 30px;
    }

    .V_track_time {
        margin-right: 10px;
    }

    .V_track_time1 {
        margin-right: 10px;
    }

}

@media (max-width:550px) {
    .V_back-line {
        width: 75%;
    }


}

@media (max-width:426px) {
    .V_back-line {
        width: 65%;
    }

    .VK_return_input {
        font-size: 13px;
    }

    .V_back-line2 {
        left: 55px;
        top: 53px;
        width: 100%;
    }

    .V_back-line3 {
        left: 65px;
        top: 53px;
        width: 120%;
    }

    .V_back-line4 {
        top: 53px;
        width: 95%;
        left: 65px;
    }
}

@media(max-width:375px) {
    .VK_from_input {
        padding: 5px !important;
        font-size: 14px;
    }

    .VK_return_input {
        font-size: 11px;
    }

    .V_back-line3 {
        width: 145%;
    }

    .V_back-line2 {
        width: 113%;
    }

    .V_back-line {
        width: 72%;
    }

    .V_label_value {
        padding-left: 0 !important;
    }

    .V_back-line4 {
        width: 110%;
    }
}

@media (max-width:350px) {
    .V_right_border {
        border-right: none;
    }

    .VK_order_card {
        padding: 10px;
    }

    .VK_order_product {
        padding: 0 !important;
    }

    .VK_from_input {
        font-size: 12px;
    }
}

@media(max-width:320px) {
    .VK_from_input {
        font-size: 10px;
    }

    .V_back-line3 {
        width: 160%;
    }

    .V_back-line2 {
        width: 125%;
    }

    .V_back-line {
        width: 80%;
    }

    .V_back-line4 {
        width: 120%;
    }
}

/* small device */
@media (max-width:575px) and (min-width:481px) {

    .VK_add_address {
        padding: 8px 20px;
    }

    .VK_edit_profile_model .modal-dialog {
        width: 100% !important;
    }

    .VK_deactive_model .modal-dialog {
        width: 100% !important;
    }

    .VK_logout_model .modal-dialog {
        width: 100%;
    }

    .VK_dactive_btn {
        width: 100%;
        text-align: center;
    }

    .VK_order_detail {
        width: 100%;
    }

    .VK_order_price {
        margin: auto 0px;
    }

    .VK_order_price {
        width: auto;
    }

    .VK_order_images {
        width: 100%;
        max-height: 170px;
        object-position: top;
    }

    .VK_card_num {
        font-size: 20px;
    }

    .VK_card_box {
        height: 180px;
    }


    .V_full_pair {
        font-size: 16px;
    }

    .V_full_child_text {
        font-size: 12px;
    }

    .V_light {
        font-size: 12px;
    }

    .V_track_order_price {
        font-size: 18px;
    }

    .V_back-line {
        width: 70%;
        left: 70px;
        top: 50px;
    }

    .V_back-line2 {
        width: 70%;
        left: 70px;
        top: 50px;
    }

    .V_back-line3 {
        width: 80%;
        left: 40px !important;
        top: 50px !important;
    }

    .V_delivery_address_width {
        width: 160px;
    }

    .V_customer_name {
        font-size: 12px;
    }

    .V_delivery_address {
        font-size: 14px;
    }

    .V_customer_address {
        font-size: 10px;
    }

    .V_invoice_width {
        padding-left: 10px;
    }

    .V_card_name,
    .V_ame_exp {
        font-size: 10px;
    }

    .V_confirmed {
        font-size: 10px;
    }

    .V_invoice {
        font-size: 14px;
    }

    .V_down_invoic {
        font-size: 12px;
    }

    .V_confirmed1 {
        font-size: 10px;
    }

    .V_review_textarea {
        width: 100%;
        height: 120px;
    }

    .VK_border_bottom1 {
        width: 100%;
    }

    .V_full_pair_review {
        font-size: 18px;
    }

    .V_star_size {
        width: 30px;
        height: 30px;
    }

    .V_star_size1 {
        width: 30px;
        height: 30px;
    }
}


/* medium device */
@media (max-width:767px) and (min-width:576px) {

    .VK_add_address {
        padding: 8px 20px;
    }

    .VK_order_detail {
        width: 88%;
    }

    .VK_order_images {
        width: 150px;
        max-height: 170px !important;
        object-position: top;
    }

    .VK_card_num {
        font-size: 22px;
    }

    .VK_card_box {
        height: 180px;
    }

    .V_full_pair {
        font-size: 16px;
    }

    .V_full_child_text {
        font-size: 12px;
    }

    .V_light {
        font-size: 12px;
    }

    .V_track_order_price {
        font-size: 18px;
    }

    .V_back-line {
        width: 76%;
        left: 70px;
        top: 50px;
    }

    .V_back-line2 {
        width: 74%;
        left: 70px;
        top: 50px;
    }

    .V_back-line3 {
        width: 80%;
        left: 50px;
        top: 50px;
    }

    .V_delivery_address_width {
        width: 150px;
    }

    .V_customer_name {
        font-size: 12px;
    }

    .V_delivery_address {
        font-size: 14px;
    }

    .V_customer_address {
        font-size: 10px;
    }

    .V_invoice_width {
        padding-left: 20px;
    }

    .V_card_name,
    .V_ame_exp {
        font-size: 10px;
    }

    .V_confirmed {
        font-size: 10px;
    }

    .V_invoice {
        font-size: 14px;
    }

    .V_down_invoic {
        font-size: 12px;
    }

    .V_confirmed1 {
        font-size: 10px;
    }

    .V_review_textarea {
        width: 100%;
        height: 120px;
    }

    .VK_border_bottom1 {
        width: 100%;
    }

    .V_full_pair_review {
        font-size: 18px;
    }

    .V_star_size {
        width: 30px;
        height: 30px;
    }

    .V_star_size1 {
        width: 30px;
        height: 30px;
    }

}


/* lg device */
@media (max-width:991px) and (min-width:768px) {

    .VK_add_address {
        padding: 8px 20px;
    }

    .VK_order_detail {
        width: 88%;
    }

    .VK_order_images {
        width: 150px;
    }

    .VK_payment .accordion-body ul {
        padding-left: 15px;
    }


    .V_full_pair {
        font-size: 20px;
    }

    .V_full_child_text {
        font-size: 14px;
        width: 500px;
    }

    .V_light {
        font-size: 16px;
    }

    .V_track_order_price {
        font-size: 20px;
    }

    .V_back-line {
        width: 75%;
        left: 90px;
        top: 50px;
    }

    .V_back-line2 {
        width: 72%;
        left: 90px;
        top: 53px;
    }

    .V_back-line3 {
        width: 74%;
        left: 90px;
        top: 51px;
    }

    .V_delivery_address_width {
        width: 185px;
    }

    .V_customer_name {
        font-size: 16px;
    }

    .V_delivery_address {
        font-size: 16px;
    }

    .V_customer_address {
        font-size: 12px;
    }

    .V_invoice_width {
        padding-left: 20px;
    }

    .V_card_name,
    .V_ame_exp {
        font-size: 12px;
    }

    .V_confirmed {
        font-size: 10px;
    }

    .V_invoice {
        font-size: 16px;
    }

    .V_down_invoic {
        font-size: 16px;
    }

    .V_customer_number {
        font-size: 16px;
    }

    .V_confirmed1 {
        font-size: 10px;
    }

    .V_review_textarea {
        width: 100%;
        height: 130px;
    }

    .VK_border_bottom1 {
        width: 700px;
    }

    .V_full_pair_review {
        font-size: 20px;
    }

    .V_star_size {
        width: 30px;
        height: 30px;
    }

    .V_star_size1 {
        width: 30px;
        height: 30px;
    }

    .V_back-line4 {
        width: 72%;
        top: 51px;
        left: 105px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {
    .VK_order_detail {
        width: 90%;
    }

    .VK_order_images {
        width: 120px;
        height: 145px;
    }

    .VK_payment .accordion-body ul {
        padding-left: 15px;
    }

    .VK_payment .accordion-body li {
        margin-bottom: 10px;

    }


    .V_full_pair {
        font-size: 16px;
    }

    .V_full_child_text {
        font-size: 10px;
        width: 190px;
    }

    .V_light {
        font-size: 12px;
    }

    .V_track_order_price {
        font-size: 14px;
    }

    .V_back-line {
        width: 60%;
        left: 120px;
        top: 35px;
    }

    .V_back-line2 {
        width: 60%;
        left: 120px;
        top: 35px;
    }

    .V_back-line3 {
        width: 60%;
        left: 120px;
        top: 35px;
    }

    .V_delivery_address_width {
        width: 185px;
    }

    .V_customer_name {
        font-size: 16px;
    }

    .V_delivery_address {
        font-size: 16px;
    }

    .V_customer_address {
        font-size: 12px;
    }

    .V_invoice_width {
        padding-left: 20px;
    }

    .V_card_name,
    .V_ame_exp {
        font-size: 12px;
    }

    .V_confirmed {
        font-size: 10px;
    }

    .V_invoice {
        font-size: 16px;
    }

    .V_down_invoic {
        font-size: 16px;
    }

    .V_customer_number {
        font-size: 16px;
    }

    .V_confirmed1 {
        font-size: 10px;
    }

    .V_review_textarea {
        width: 100%;
        height: 150px;
    }

    .VK_border_bottom1 {
        width: 920px;
    }

    .V_full_pair_review {
        font-size: 20px;
    }

    .V_back-line4 {
        top: 36px;
        width: 62%;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .VK_order_detail {
        width: 40%;
    }

    .VK_order_images {
        width: 120px;
        height: 150px;
    }


    .V_full_pair {
        font-size: 16px;
    }

    .V_full_child_text {
        font-size: 10px;
    }

    .V_light {
        font-size: 12px;
    }

    .V_track_order_price {
        font-size: 16px;
    }

    .V_back-line {
        width: 70%;
        top: 55px;
        left: 120px;
    }

    .V_back-line2 {
        width: 68%;
        top: 55px;
        left: 120px;
    }

    .V_invoice_width {
        padding-left: 60px;
    }

    .V_back-line3 {
        width: 67%;
        left: 123px;
        top: 55px;
    }

    .V_review_textarea {
        width: 100%;
        height: 180px;
    }

    .VK_border_bottom1 {
        width: 1150px;
    }

    .V_back-line4 {
        width: 68%;
        left: 123px;
    }
}


/* 3xl device */
@media (min-width:1441px) and (max-width:1649px) {

    .VK_order_detail {
        width: 40%;
    }

    .VK_order_images {
        width: 120px;
    }

    .VK_add_address_model_ .modal-dialog {
        max-width: 33.33% !important;
    }

    .V_back-line {
        width: 70%;
        left: 123px;
        top: 55px;
    }

    .V_back-line2 {
        width: 67%;
        left: 123px;
        top: 55px;
    }

    .V_back-line3 {
        width: 67%;
        left: 123px;
        top: 55px;
    }

    .V_invoice_width {
        padding-left: 60px;
    }

    .V_review_textarea {
        width: 100%;
        height: 200px;
    }

    .VK_border_bottom1 {
        width: 1150px;
    }

}

@media (min-width:1650px) {
    .VK_order_detail {
        width: 40%;
    }

    .VK_order_images {
        width: 120px;
        height: 150px;
    }

    .VK_add_address_model_ .modal-dialog {
        max-width: 33.33% !important;
    }

    .V_back-line {
        width: 77%;
        left: 123px;
        top: 55px;
    }

    .V_back-line2 {
        width: 76%;
        left: 123px;
        top: 55px;
    }

    .V_new_details {
        width: 300px;
    }

    .V_full_pair_review {
        font-size: 22px;
        font-weight: 600;
    }

    .V_star {
        color: #F8A120;
    }


    .VK_border_bottom1 {
        width: 1470px;
    }
}