.VK_home_slider {
    background-image: url('/src/Vivek/assets/home_slider.png');
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ELECTONICS essentials  */

.electronc_img {
    height: 250px;
}


/* best seller */
.best_seller_img {
    height: 420px;
}


/*  */
.VK_jewery_cont {
    height: 450px;
}

.VK_jewery_cont img {
    object-fit: fill;
}

.VK_jewery_div {
    position: relative;
}

.VK_jewery_text_1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%) translateX(-50%);
}

.VK_jewery_text_1 p {
    font-family: "Roboto Serif", serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.VK_white_btn {
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
}



/* -------------------------------------------------------- media query -------------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }
}


/* small device */
@media (max-width:575px) and (min-width:481px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }
}


/* medium device */
@media (max-width:766px) and (min-width:576px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }
}


/* lg device */
@media (max-width:991px) and (min-width:767px) {
    .VK_sec_padding {
        padding: 50px 0px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {
    .VK_sec_padding {
        padding: 50px 0px;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .VK_sec_padding {
        padding: 80px 0px;
    }
}


/* 3xl device */
@media (min-width:1441px) {
    .VK_sec_padding {
        padding: 80px 0px;
    }
}