.V_sports {
    background-image: url('../../assets/sport main header.png');
    background-size: cover;
    height: 916px;

}

.V_combine_text {
    font-size: 48px;
    font-weight: 700;
}

.V_text_white {
    color: white;
}

.V_text_green {
    color: #3E9D26;
}

.V_experience {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.V_future {
    width: 720px;
    height: auto;
}


.btn-primary {
    --bs-btn-bg: #3E9D26;
    --bs-btn-border-color: none;

}

.V_sport_product_1 {
    background-image: url('../../assets/sports first.png');

}

.V_sport_product_2 {
    background-image: url('../../assets/sports second.png');

}

.V_sport_product_3 {
    background-image: url('../../assets/sport third.png');

}

.V_sports_accessories {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.V_red {
    color: red;
    font-size: 44px;
    font-weight: 700;
}

.V_Get {
    width: 313px;
    font-size: 44px;
    font-weight: 700;
    padding-top: 9rem !important;
    padding-left: 30px;
}

.V_sub_text {
    font-size: 34px;
    font-weight: 700;
}

.v_Women {
    font-size: 44px;
    font-weight: 700;
}

.V_kids {
    font-size: 44px;
    font-weight: 700;
}






























/* ///////////////////////////////////////////////////////// container ////////////////////////////////////////////////// */



@media (min-width: 1650px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 916px;
    }

    .V_future {
        width: 720px;
        height: auto;
    }

    .V_combine_text {
        font-size: 48px;
    }

    .V_experience {
        font-size: 20px;
    }

   
    .V_sports_accessories {
        height: 300px;
    }

    .V_Get {
        font-size: 44px;
        width: 340px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 44px;
    }

    .V_sub_text {
        font-size: 34px;
    }

    .v_Women {
        font-size: 44px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 44px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}


@media (min-width: 1440px) and (max-width: 1649px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 800px;
    }

    .V_future {
        width: 720px;
        height: auto;
    }

    .V_combine_text {
        font-size: 48px;
    }

    .V_experience {
        font-size: 20px;
    }

    .V_sports_accessories {
        height: 280px;
    }

    .V_Get {
        font-size: 36px;
        width: 320px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 36px;
    }

    .V_sub_text {
        font-size: 28px;
    }

    .v_Women {
        font-size: 36px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 36px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 800px;
    }

    .V_future {
        width: 660px;
        height: auto;
    }

    .V_combine_text {
        font-size: 44px;
    }

    .V_experience {
        font-size: 20px;
    }

    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 28px;
        width: 320px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 28px;
    }

    .V_sub_text {
        font-size: 24px;
    }

    .v_Women {
        font-size: 28px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 28px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 700px;
    }

    .V_future {
        width: 550px;
        height: auto;
    }

    .V_combine_text {
        font-size: 38px;
    }

    .V_experience {
        font-size: 20px;
    }

    .V_sports_accessories {
        height: 200px;
    }

    .V_Get {
        font-size: 20px;
        width: 320px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 20px;
    }

    .V_sub_text {
        font-size: 16px;
    }

    .v_Women {
        font-size: 20px;
        width: 180px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 20px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 600px;
    }

    .V_future {
        width: 480px;
        height: auto;
    }

    .V_combine_text {
        font-size: 32px;
    }

    .V_experience {
        font-size: 20px;
    }

    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 28px;
        width: 320px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 28px;
    }

    .V_sub_text {
        font-size: 24px;
    }

    .v_Women {
        font-size: 28px;
        width: 180px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 28px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 500px;
    }

    .V_future {
        width: 350px;
        height: auto;
    }

    .V_combine_text {
        font-size: 24px;
    }

    .V_experience {
        font-size: 18px;
    }

    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 26px;
        width: 250px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 26px;
    }

    .V_sub_text {
        font-size: 22px;
    }

    .v_Women {
        font-size: 26px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 26px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 400px;
    }

    .V_future {
        width: 270px;
        height: auto;
    }

    .V_combine_text {
        font-size: 22px;
    }

    .V_experience {
        font-size: 16px;
    }

    .V_sports_accessories {
        height: 200px;
    }

    .V_Get {
        font-size: 24px;
        width: 220px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 24px;
    }

    .V_sub_text {
        font-size: 20px;
    }

    .v_Women {
        font-size: 24px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 24px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }
}

@media (min-width: 300px) and (max-width: 479px) {
    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 400px;
    }

    .V_future {
        width: 180px;
        height: auto;
    }

    .V_combine_text {
        font-size: 20px;
    }

    .V_experience {
        font-size: 14px;
    }

    .V_sports_accessories {
        height: 180px;
    }

    .V_Get {
        font-size: 20px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 20px;
    }

    .V_sub_text {
        font-size: 15px;
    }

    .v_Women {
        font-size: 20px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 20px;
        width: 160px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }
}