.V_sports {
    background-image: url('../../assets/sport main header.png');
    background-size: cover;
    height: 916px;

}

.V_combine_text {
    font-size: 48px;
    font-weight: 700;
}

.V_text_white {
    color: white;
}

.V_text_green {
    color: #3E9D26;
}

.V_experience {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.V_future {
    width: 720px;
    height: auto;
}

.V_sport_slider_1_button {
    color: white;
    background-color: #3e9d26;
}

.V_sport_slider_1_button:hover {
    color: white !important;
    background-color: #1b5f0a;
}

.V_sport_slider_2_button {
    color: white;
    background-color: black;
}

.V_sport_slider_2_button:hover {
    color: white !important;
    background-color: rgb(73, 66, 66);
}

.btn:focus-visible {
    border-color: black;
    box-shadow: 0px;
}

.btn-primary:hover {
    background-color: none;
    border: 0px;
}
.btn:active{
    background-color: none;
    border: 0px;
}

.V_sport_product_1 {
    background-image: url('../../assets/sports first.png');

}

.V_sport_product_2 {
    background-image: url('../../assets/sports second.png');

}

.V_sport_product_3 {
    background-image: url('../../assets/sport third.png');

}

.V_sports_accessories {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.V_red {
    color: red;
    font-size: 44px;
    font-weight: 700;
}

.V_Get {
    width: 313px;
    font-size: 44px;
    font-weight: 700;
    padding-top: 9rem !important;
    padding-left: 30px;
}

.V_sub_text {
    font-size: 34px;
    font-weight: 700;
}

.v_Women {
    font-size: 44px;
    font-weight: 700;
}

.V_kids {
    font-size: 44px;
    font-weight: 700;
}




.V_slider2 {
    background-image: url('../../assets/sport head slide 2.png');
    background-size: cover;
    height: 916px;
}

.V_slide2 {
    width: 642px;
}

.V_fantastic {
    font-size: 50px;
    font-weight: 900;
}

.V_slide_2_text {
    font-size: 17px;
    font-weight: 400;
}







.V_slider3 {
    background-image: url('../../assets/sport slide 3 img.png');
    background-size: cover;
    height: 916px;
}

.V_slid3 {
    width: 475px;
}

.V_more_than {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 16.06%, #FFFFFF 86.9%, rgba(255, 255, 255, 0) 106.25%);
    font-size: 72px;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.V_slide_3_text {
    font-size: 20px;
    font-weight: 400;
    color: #FEFEFE;
}

.V_golf {
    background-color: #38CB89;
}

.V_golf:hover {
    background-color: #1b5f0a;
}

.V_new_footware {
    background-image: url('../../assets/new footware sports.png');
    background-size: cover;
    height: 576px;
    width: 1920px;
}

.V_all {
    padding-top: 10rem !important;
    margin-left: 140px;
}

.V_all_width {
    width: 333px;
}

.V_new_foot {
    font-size: 64px;
    font-weight: 300;
    color: #DAEE14;
}

.V_collection {
    font-size: 44px;
    font-weight: 300;
}

.V_big {
    margin-top: -11rem !important;
    margin-left: 300px;
}

.V_disco {
    font-size: 34px;
    font-weight: 300;
}

.V_30 {
    font-size: 126px;
    font-weight: 300;
    color: #DAEE14;
    padding-left: 20px;
}









/* ///////////////////////////////////////////////////////// container ////////////////////////////////////////////////// */



@media (min-width: 1650px) {

    .V_slider_height {
        height: 916px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 720px;
        height: auto;
    }

    .V_combine_text {
        font-size: 48px;
    }

    .V_experience {
        font-size: 20px;
    }





    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 642px;
    }

    .V_fantastic {
        font-size: 50px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }









    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 450px;
    }

    .V_more_than {
        font-size: 72px;
    }

    .V_slide_3_text {
        font-size: 20px;
    }









    .V_sports_accessories {
        height: 300px;
    }

    .V_Get {
        font-size: 44px;
        width: 340px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 44px;
    }

    .V_sub_text {
        font-size: 34px;
    }

    .v_Women {
        font-size: 44px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 44px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }





    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 576px;
        width: 100%;
    }

    .V_all {
        padding-top: 8rem !important;
        margin-left: 120px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 64px;
    }

    .V_collection {
        font-size: 44px;
    }

    .V_big {
        margin-top: -11rem !important;
        margin-left: 280px;
    }

    .V_disco {
        font-size: 34px;
    }

    .V_30 {
        font-size: 126px;
        padding-left: 10px;
    }
}


@media (min-width: 1440px) and (max-width: 1649px) {

    .V_slider_height {
        height: 750px;
    }




    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 720px;
        height: auto;
    }

    .V_combine_text {
        font-size: 48px;
    }

    .V_experience {
        font-size: 20px;
    }




    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 642px;
    }

    .V_fantastic {
        font-size: 50px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }




    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 450px;
    }

    .V_more_than {
        font-size: 72px;
    }

    .V_slide_3_text {
        font-size: 20px;
    }




    .V_sports_accessories {
        height: 280px;
    }

    .V_Get {
        font-size: 36px;
        width: 320px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 36px;
    }

    .V_sub_text {
        font-size: 28px;
    }

    .v_Women {
        font-size: 36px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 36px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }



    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 480px;
        width: 100%;
    }

    .V_all {
        padding-top: 11rem !important;
        margin-left: 100px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 56px;
    }

    .V_collection {
        font-size: 40px;
    }

    .V_big {
        margin-top: -11rem !important;
        margin-left: 260px;
    }

    .V_disco {
        font-size: 34px;
    }

    .V_30 {
        font-size: 126px;
        padding-left: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .V_slider_height {
        height: 600px;
    }


    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 660px;
        height: auto;
    }

    .V_combine_text {
        font-size: 44px;
    }

    .V_experience {
        font-size: 20px;
    }





    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 642px;
    }

    .V_fantastic {
        font-size: 50px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }





    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 380px;
    }

    .V_more_than {
        font-size: 64px;
    }

    .V_slide_3_text {
        font-size: 20px;
    }


    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 28px;
        width: 320px;
        padding-top: 6rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 28px;
    }

    .V_sub_text {
        font-size: 24px;
    }

    .v_Women {
        font-size: 28px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 28px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }





    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        width: 100%;
    }

    .V_all {
        padding-top: 9rem !important;
        margin-left: 50px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 48px;
    }

    .V_collection {
        font-size: 38px;
    }

    .V_big {
        margin-top: -10rem !important;
        margin-left: 250px;
    }

    .V_disco {
        font-size: 32px;
    }

    .V_30 {
        font-size: 116px;
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .V_slider_height {
        height: 600px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 550px;
        height: auto;
    }

    .V_combine_text {
        font-size: 38px;
    }

    .V_experience {
        font-size: 20px;
    }








    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 550px;
    }

    .V_fantastic {
        font-size: 46px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }



    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 360px;
    }

    .V_more_than {
        font-size: 60px;
    }

    .V_slide_3_text {
        font-size: 20px;
    }




    .V_sports_accessories {
        height: 200px;
    }

    .V_Get {
        font-size: 20px;
        width: 320px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 20px;
    }

    .V_sub_text {
        font-size: 16px;
    }

    .v_Women {
        font-size: 20px;
        width: 180px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 20px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }





    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
        width: 100%;
    }

    .V_all {
        padding-top: 8rem !important;
        margin-left: 40px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 40px;
    }

    .V_collection {
        font-size: 30px;
    }

    .V_big {
        margin-top: -8.6rem !important;
        margin-left: 200px;
    }

    .V_disco {
        font-size: 26px;
    }

    .V_30 {
        font-size: 100px;
        padding-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {


    .V_slider_height {
        height: 550px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 480px;
        height: auto;
    }

    .V_combine_text {
        font-size: 32px;
    }

    .V_experience {
        font-size: 20px;
    }



    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 370px;
    }

    .V_fantastic {
        font-size: 40px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }



    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 300px;
    }

    .V_more_than {
        font-size: 48px;
    }

    .V_slide_3_text {
        font-size: 18px;
    }




    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 28px;
        width: 320px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 28px;
    }

    .V_sub_text {
        font-size: 24px;
    }

    .v_Women {
        font-size: 28px;
        width: 180px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 28px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }



    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 100%;
    }

    .V_all {
        padding-top: 6rem !important;
        margin-left: 30px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 34px;
    }

    .V_collection {
        font-size: 26px;
    }

    .V_big {
        margin-top: -7.6rem !important;
        margin-left: 170px;
    }

    .V_disco {
        font-size: 22px;
    }

    .V_30 {
        font-size: 88px;
        padding-left: 10px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {


    .V_slider_height {
        height: 500px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 350px;
        height: auto;
    }

    .V_combine_text {
        font-size: 24px;
    }

    .V_experience {
        font-size: 18px;
    }




    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 240px;
    }

    .V_more_than {
        font-size: 38px;
    }

    .V_slide_3_text {
        font-size: 16px;
    }



    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 280px;
    }

    .V_fantastic {
        font-size: 30px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }

    .V_sports_accessories {
        height: 250px;
    }

    .V_Get {
        font-size: 26px;
        width: 250px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 26px;
    }

    .V_sub_text {
        font-size: 22px;
    }

    .v_Women {
        font-size: 26px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 26px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }






    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: 100%;
    }

    .V_all {
        padding-top: 6rem !important;
        margin-left: 30px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 28px;
    }

    .V_collection {
        font-size: 20px;
    }

    .V_big {
        margin-top: -5.6rem !important;
        margin-left: 140px;
    }

    .V_disco {
        font-size: 16px;
    }

    .V_30 {
        font-size: 60px;
        padding-left: 10px;
    }



}

@media (min-width: 480px) and (max-width: 575px) {

    .V_slider_height {
        height: 400px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 270px;
        height: auto;
    }

    .V_combine_text {
        font-size: 22px;
    }

    .V_experience {
        font-size: 16px;
    }




    .V_slider3 {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }

    .V_slid3 {
        width: 180px;
    }

    .V_more_than {
        font-size: 28px;
    }

    .V_slide_3_text {
        font-size: 14px;
    }





    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 230px;
    }

    .V_fantastic {
        font-size: 24px;
    }

    .V_slide_2_text {
        font-size: 17px;
    }








    .V_sports_accessories {
        height: 200px;
    }

    .V_Get {
        font-size: 24px;
        width: 220px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 24px;
    }

    .V_sub_text {
        font-size: 20px;
    }

    .v_Women {
        font-size: 24px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 24px;
        width: 160px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }


    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        width: 100%;
    }

    .V_all {
        padding-top: 5rem !important;
        margin-left: 30px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 22px;
    }

    .V_collection {
        font-size: 18px;
    }

    .V_big {
        margin-top: -4.6rem !important;
        margin-left: 118px;
    }

    .V_disco {
        font-size: 14px;
    }

    .V_30 {
        font-size: 44px;
        padding-left: 10px;
    }
}

@media (min-width: 300px) and (max-width: 479px) {


    .V_slider_height {
        height: 400px;
    }

    .V_sports {
        background-size: cover;
        background-position-x: 95%;
        height: 100%;
    }

    .V_future {
        width: 180px;
        height: auto;
    }

    .V_combine_text {
        font-size: 20px;
    }

    .V_experience {
        font-size: 14px;
    }

    .V_sports_accessories {
        height: 180px;
    }






    .V_slider2 {
        background-size: cover;
        background-position-x: 80%;
        height: 100%;
    }

    .V_slide2 {
        width: 120px;
    }

    .V_fantastic {
        font-size: 20px;
    }

    .V_slide_2_text {
        font-size: 14px;
    }






    .V_slider3 {
        background-size: cover;
        background-position-x: 53%;
        height: 100%;
    }

    .V_slid3 {
        width: 150px;
    }

    .V_more_than {
        font-size: 24px;
    }

    .V_slide_3_text {
        font-size: 14px;
    }







    .V_Get {
        font-size: 20px;
        width: 180px;
        padding-top: 5rem !important;
        padding-left: 30px;
    }

    .V_red {
        font-size: 20px;
    }

    .V_sub_text {
        font-size: 15px;
    }

    .v_Women {
        font-size: 20px;
        width: 180px;
        padding-top: 3rem !important;
        padding-left: 30px;
    }

    .V_kids {
        font-size: 20px;
        width: 160px;
        padding-top: 4rem !important;
        padding-left: 30px;
    }





    .V_new_footware {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 100%;
    }

    .V_all {
        padding-top: 4rem !important;
        margin-left: 20px;
    }

    .V_all_width {
        width: 100px;
    }

    .V_new_foot {
        font-size: 16px;
    }

    .V_collection {
        font-size: 12px;
    }

    .V_big {
        margin-top: -3.4rem !important;
        margin-left: 80px;
    }

    .V_disco {
        font-size: 10px;
    }

    .V_30 {
        font-size: 30px;
        padding-left: 10px;
    }


}