.V_posts .V_boxs .V_img1s{
    width: 100%;
    position: relative;
}
.V_posts .V_boxs .V_img1s img{
    width: 100%;
    height: 384px;
    object-fit: cover;
}
.V_posts .V_boxs .V_texts{
    padding: 0 0 10px 20px;
    position: absolute;
    bottom: 0;
}
.V_posts .V_boxs .V_texts p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}
.V_posts .V_boxs .V_texts .V_discounttexts{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}


.V_boxs{
 position: relative;
}
.V_boxs::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0px;
    left: 0;
    opacity: 0.5;
}
.V_texts{
    z-index: 1;
}
@media(min-width:992px) and (max-width:2600px) {
    .V_col-20s {
        width: 20%;
    }
}
@media(max-width:425px)
{
    /* .V_posts .V_boxs .V_img1s{
        height: 200px;   
    } */
    .V_posts .V_boxs .V_img1s img{
        object-position: top;
    }
}