.V_demo{
    font-family: 'Gabriola';
font-size: 80px;
color: black;
-webkit-text-fill-color: white; 
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}





.V_contact {
    font-size: 40px;
    font-weight: 600;
}

.V_any {
    font-size: 18px;
    font-weight: 500;
}

.V_shadow {
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    width: 1480px;
    height: 560px;
}

.V_img {
    width: 690px;
    height: 460px;
}

.V_head_text {
    font-size: 28px;
    font-weight: 600;
}

.V_lorem {
    font-size: 18px;
    font-weight: 400;
}



.V_back {
    background-image: url('../../assets/The Quickcart Culture.png');
    width: 100%;
    height: 560px;
    position: relative;
    background-position: top;
    background-size: cover;
    background-position-y: -80px;
}

.V_back::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

.V_back1 {
    background-image: url('../../assets/Technology Innovation.png');
    width: 100%;
    height: 560px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-position-y: -520px;
}

.V_back1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

.V_text_white {
    z-index: 1;
}

.V_jal {
    background-image: url('../../assets/Jali.png');
    background-size: cover;
}

.V_quick {
    font-size: 26px;
    font-weight: 600;
}

.V_ipsum{
font-size: 16px;
font-weight: 400;
color: #6A6A6A;
}

/* {*********************** The Quickcart *****************} */
.ds_bg-color{
    padding: 40px 0px;
    background-color: rgba(0, 0, 0, 1);
}
.ds_para{
    color: rgba(106, 106, 106, 1);
    line-height: 20px;
}
.ds_curve-text{
    font-family: 'Gabriola';
    font-size: 80px;
    color: black;
    -webkit-text-fill-color: black; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}






.mv_main_view_terms_conditions{
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 20px 0.5px #0000000F;
}
.mv_privacy_policy{
    background-color: #fff;
    padding: 20px;
}
.mv_privacy_policy_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #6A6A6A;
}
.mv_terms_of_heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #2B221E;
}




@media(max-width:767px){
    .mv_main_view_tc_heading{
        display: block !important;
    }
    .mv_main_view_tc_subheading{
       margin-bottom: 10px;
    }
}
@media(max-width:575px){
    .mv_view_term_and_con{
        display: block !important;
    }
    .mv_term_condi_heading{
        margin-left: 0px !important;
    }
    .mv_view_term_heading{
        margin-left: 0px !important;
    }
    .mv_terms_of_heading {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .mv_privacy_policy_text {
        font-size: 14px;
    }
}
@media(max-width:425px){
    .mv_main_view_terms_conditions {
        padding: 20px 10px;
    }
}







/* -------------------------------------------------------- media query -------------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 100%;
        height: 260px;
    }

    .V_head_text {
        font-size: 20px;
    }

    .V_lorem {
        font-size: 16px;
    }


    .V_back {
        width: 100%;
        height: 300px;
        background-position: top;
        background-size: cover;
        align-self: end;
    }

    .V_back1 {
        width: 100%;
        height: 300px;
        align-self: end;
        background-position: top;
        background-size: cover;
    }
}


/* small device */
@media (max-width:575px) and (min-width:481px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 100%;
        height: auto;
    }

    .V_head_text {
        font-size: 20px;
    }

    .V_lorem {
        font-size: 16px;
    }


    .V_back {
        width: 100%;
        height: 300px;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }

    .V_back1 {
        width: 100%;
        height: 300px;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }
}

/* medium device */
@media (max-width:767px) and (min-width:576px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 100%;
        /* height: auto; */
        margin-bottom: 10px;
    }

    .V_head_text {
        font-size: 24px;
    }

    .V_lorem {
        font-size: 16px;
    }


    .V_back {
        width: 100%;
        height: 400px;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }

    .V_back1 {
        width: 100%;
        height: 400px;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }
}


/* lg device */
@media (max-width:991px) and (min-width:768px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 100%;
        height: auto;
    }

    .V_head_text {
        font-size: 28px;
    }

    .V_lorem {
        font-size: 18px;
    }


    .V_back {
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }

    .V_back1 {
        width: 100%;
        height: 100%;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: -140px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 100%;
        height: 100%;
    }

    .V_head_text {
        font-size: 24px;
    }

    .V_lorem {
        font-size: 16px;
    }


    .V_back {
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        background-position-y: 0px;
    }

    .V_back1 {
        width: 100%;
        height: 100%;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: -320px;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 690px;
        height: 460px;
    }

    .V_head_text {
        font-size: 28px;
    }

    .V_lorem {
        font-size: 18px;
    }


    .V_back {
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        background-position-y: -100px;
    }

    .V_back1 {
        width: 100%;
        height: 100%;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: -420px;
    }
}


/* 3xl device */
@media (min-width:1441px) and (max-width:1649px) {
    .V_shadow {
        width: 100%;
        height: auto;
    }

    .V_img {
        width: 690px;
        height: 460px;
    }

    .V_head_text {
        font-size: 28px;
    }

    .V_lorem {
        font-size: 18px;
    }


    .V_back {
        width: 100%;
        height: 500px;
        background-position: top;
        background-size: cover;
        background-position-y: -30px;
    }

    .V_back1 {
        width: 100%;
        height: 500px;
        position: relative;
        background-position: top;
        background-size: cover;
        background-position-y: -350px;
    }
}

@media (min-width:1650px) {

    .V_back {
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        background-position-y: -80px;
    }

    .V_back1 {
        width: 100%;
        height: 600px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-position-y: -520px;
    }
}

@media (max-width:768px) {
/* {*********************** The Quickcart *****************} */
    .ds_padding{
        padding-left: 20px;
    }
}

@media (max-width:375px){
    .V_img {    
        height: 220px;
    }
}
@media (max-width:320px){
    .V_img {    
        height: 190px;
    }
}
@media (max-width:550px) {
/* {*********************** The Quickcart *****************} */ 
    .ds_curve-text {
        font-size: 50px;
    }
    .ds_text{
        font-size: 14px;
    }
}