/* {******************* Contact Us *****************} */
.ds_us-box{
    box-shadow: 0px 4px 14px 0px rgba(143, 143, 143, 0.25);
    padding: 20px;
}
.ds_us-text{
    color: rgba(106, 106, 106, 1);
}
.ds_us-img{
    background-image: url(../../assets/contactusbackimg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 20px;
}
.ds_us-padding{
    padding-top: 30px;
    padding-left: 35px;
}
.ds_us-muted{
    color: rgba(106, 106, 106, 1);
}
.ds_us-email{
    border: none !important;
    background: rgba(237, 237, 237, 1);
    padding: 0 !important;
}
.ds_us-email:focus{
    background: rgba(237, 237, 237, 1);
}
.ds_label{
    color: rgba(106, 106, 106, 1);
}
.ds_us-textarea{
    background: rgba(237, 237, 237, 1);
    border: none !important;
    height: 85px !important;
    padding: 10px 0px 0px 0px !important;
}
.ds_us-textarea:focus{
    background: rgba(237, 237, 237, 1);
    border: none !important;   
}
.ds_us-submit{
    background: #2B221E;
    color: white;
    padding: 10px 60px;
}
.ds_us-submit:hover{
    background: #2B221E;
    color: white;
}










@media (max-width:992px) {
    .ds_us-img{
        height: 450px;
    }
}

@media (max-width:768px) {
    .ds_us-margin{
       margin-right: 13px;
    }
}

@media (max-width:550px) {
    .ds_us-padding{
        padding-left: 20px;
    }
}

@media (max-width:530px) {
    .ds_us-margin{
       margin-left: 0px;
    }
    .ds_us-img{
        height: 430px;
    }
}