.font_22{
    font-size: 22px;
}

.font_20{
    font-size: 20px;
}

.font_18{
    font-size: 18px;
}


.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.light_color{
    color: #6a6a6a;
}