.font_22 {
    font-size: 22px;
}

.font_20 {
    font-size: 20px;
}

.font_18 {
    font-size: 18px;
}

.font_16 {
    font-size: 16px;
}
.font_14{
    font-size: 14px;
}

.primary_color{
    color: #2C7AA6;
}


.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.light_color {
    color: #6a6a6a;
}


.object_cover {
    object-fit: cover;
}
.object_fill {
    object-fit: fill;
}

.object_contain{
    object-fit: contain;
}

.object_top{
    object-position: top;
}

.object_center{
    object-position: center;
}


.section_title {
    font-size: 28px;
}


.white_space {
    white-space: nowrap;
}






/* --------------------------------------------------- media query ----------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }

    .section_title {
        font-size: 18px;
    }
}


/* small device */
@media (max-width:575px) and (min-width:481px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }

    .section_title {
        font-size: 18px;
    }
}


/* medium device */
@media (max-width:766px) and (min-width:576px) {
    .VK_sec_padding {
        padding: 40px 0px;
    }

    .section_title {
        font-size: 18px;
    }
}


/* lg device */
@media (max-width:991px) and (min-width:767px) {
    .VK_sec_padding {
        padding: 50px 0px;
    }

    .section_title {
        font-size: 20px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {
    .VK_sec_padding {
        padding: 50px 0px;
    }

    .section_title {
        font-size: 24px;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .VK_sec_padding {
        padding: 80px 0px;
    }

    .section_title {
        font-size: 26px;
    }
}


/* 3xl device */
@media (min-width:1441px) {
    .VK_sec_padding {
        padding: 80px 0px;
    }

    .section_title {
        font-size: 28px;
    }
}