.d_card {
    height: 300px;
    background-color: #98BBD3;
    position: relative;
}

.d_card .d_img {
    position: absolute;
    right: 0;
    top: -100px; /* Keep the top aligned with the top of the card */
    width: 100%;
}

.d_card .d_img img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any space below the image */
}
