
.d_card {
    height: 250px;
    background-position: right center;  /* Align image properly */
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.d_card h5 {
    font-weight: 700;
    color: #262626;
}

.d_card h5 span {
    color: #6B63DD;
}

@media(max-width:1440px) {
    .d_card {
        padding: 0 0 0 30px;
        height: 240px;
    }

    .d_card h5 {
        font-size: 38px;
    }
}

@media(max-width:1199px) {
    .d_card {
        height: 170px;
    }
    .d_card .d_title{
        max-width: 240px;
    }
    .d_card h5 {
        font-size: 28px;
    }
}

@media(max-width:991px) {
    .d_card h5 {
        font-size: 27px;
    }

    .d_card {
        padding: 0 0 0 15px;
        height: 193px;
    }

    .d_card .d_title {
        max-width: 230px;
    }
}

@media(max-width:575px) {
    .d_card {
        height: 215px;
    }
}

@media(max-width:375px) {
    .d_card {
        height: 188px;
    }
    .d_card .d_title {
        max-width: 150px;
    }

    .d_card h5 {
        font-size: 24px;
    }
}

@media(max-width:320px) {
    .d_card {
        height: 160px;
    }
}