
.d_mini .d_bgimg {
    width: 165px;
    height: 145px;
    background-image: url('./../d_img/minisilderbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.d_mini .d_bgimg .d_img {
    /* width: 100px;
    height: 145px; */
    position: absolute;
    left:23%;
    /* transform: translateX(-50%); */
    transform: translateY(25%);
}

.d_mini .d_bgimg .d_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.d_mini .d_category-label {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    color: #2B221E;
    text-align: center;
}

.d_minisider .owl-carousel .owl-nav{
    position: absolute;
    margin: 0;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.d_minisider .owl-carousel .owl-nav button{
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: #fff !important;
    border-radius: 50%;
    box-shadow: 0px 4px 14px 0px rgba(97, 97, 97, 0.25);
    display: flex;
    align-items: center;    
    justify-content: center;
}
.d_minisider .owl-carousel .owl-nav button span{
    font-size: 38px;
    margin-bottom: 24px;
    height: 100%;
}

.d_minisider{
    position: relative;
}

.d_minisider .owl-prev{
    position: absolute !important;
    top: 50%;
    left: calc(0% - 120px);
    transform: translateY(-50%);
}

.d_minisider .owl-next{
    position: absolute !important;
    top: 50%;
    right: calc(0% - 120px);
    transform: translateY(-50%);
}
.d_minisider .owl-theme .owl-nav [class*='owl-']:hover{
    color: #000;
}
.mv_offer_bg_img {
    height: 300px !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    background-size: cover;
    background-position: center;
}

@media(max-width:1440px){
    .d_minisider .owl-prev {
        left: calc(0% - 85px);
    }
    .d_minisider .owl-next {
        right: calc(0% - 85px);
    }
}

@media(max-width:1199px){
    .d_minisider .owl-prev {
        left: calc(0% - 75px);
    }
    .d_minisider .owl-next {
        right: calc(0% - 75px);
    }
}
@media(max-width:991px){
    .d_minisider .owl-prev {
        left: calc(0% - 60px);
    }
    .d_minisider .owl-next {
        right: calc(0% - 60px);
    }
}
@media(max-width:767px){
    .d_minisider .owl-prev {
        left: calc(0% - 50px);
    }
    .d_minisider .owl-next {
        right: calc(0% - 50px);
    }
}
@media(max-width:575px){
    .d_minisider .owl-prev {
        left: calc(0% - 30px);
    }
    .d_minisider .owl-next {
        right: calc(0% - 30px);
    }
}

/* @media(max-width:425px)
{
    .d_minisider .owl-carousel .owl-nav button span{
        margin-bottom: 50px;
    }
} */
