/* Banner section css start */

.d_firstbg {
    overflow: hidden;
}

.owl_height {
    height: 800px;
}

.d_womenbannerbg {
    background: linear-gradient(102.1deg, #2A2735 0%, #312A2B 80.43%);
    width: 100%;
}

.d_womenbannerbg .d_content p {
    color: #CAD0D9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.d_womenbannerbg .d_content .d_head {
    max-width: 700px;
    margin-bottom: 48px;
}

.d_womenbannerbg .d_content .d_head h2 {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    line-height: 120px;
}

.d_womenbannerbg .d_content .d_cta a {
    border-radius: 8px;
    background-color: #fff;
    padding: 12px 24px;
    color: #181D25;
    font-weight: 500;
}

.d_womenbannerbg .d_content .d_cta .d_arrowicon {
    font-size: 18px;
}

.d_womenbannerbg .d_img {
    height: 850px;
    width: 954px;
}

.d_womenbannerbg .d_img img {
    width: 100%;
    height: 100%;
}

.d_womenbannerbg .d_plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 32px -4px #676F7B1A;
    background-color: #fff;
}

.d_womenbannerbg .d_plus .d_plusicon {
    color: #181D25;
    font-size: 18px;
}

.d_womenbannerbg .d_popbox {
    border-radius: 8px;
    background-color: #181D25;
    border: 1px solid #333D4C;
    box-shadow: 0px 8px 30px -4px #080B1240;
    padding: 12px;
    position: relative;
}

.d_womenbannerbg .d_popbox::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    background-color: #181D25;
    right: -8px;
    transform: translateY(-50%) rotate(135deg);
    z-index: 1;
    border: 1px solid #181D25;
}

.d_womenbannerbg .d_popbox .d_img {
    width: 74px;
    height: 74px;
    margin-right: 12px;
}

.d_womenbannerbg .d_popbox .d_img img {
    width: 100%;
    height: 100%;
}

.d_womenbannerbg .d_popbox .d_text {
    width: 110px;
}

.d_womenbannerbg .d_popbox .d_text h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.d_womenbannerbg .d_popbox .d_text .d_price {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}



.d_womenbannerbg .d_fall_img {
    position: relative;
}

.d_womenbannerbg .d_pls {
    position: absolute;
    top: 50%;
    left: 30%;
}

.d_womenbannerbg .d_pls2 {
    position: absolute;
    top: 34%;
    left: 47%;
}

.d_womenbannerbg .d_pls3 {
    position: absolute;
    top: 80%;
    left: 42%;
}

.d_womenbannerbg .d_popup_par {
    position: relative;
}

.d_womenbannerbg .d_popup {
    position: absolute;
    right: 100%;
    top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translateY(-50%);
    z-index: 10;
}

.d_womenbannerbg .d_popup_par .d_plus:hover+.d_popup {
    opacity: 1;
}

.d_bannersilder2 {
    background-image: url('./../d_img/womenbanner2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

.d_bannersilder2 .d_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.d_bannersilder2 .d_content h2 {
    font-size: 140px;
    font-weight: 900;
    color: #fff;
    font-style: italic;
}

.d_bannersilder2 .d_content h3 {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    letter-spacing: 3px;
}

.d_bannersilder2 .d_content p {
    max-width: 490px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 28px;
}

.d_bannersilder2 .d_content .d_cta a {
    padding: 12px 60px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #2B221E;
}

.d_bannersilder3 {
    background-image: url('./../d_img/womenbanner3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

.d_bannersilder3 .d_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.d_bannersilder3 .d_text h6 {
    font-family: "Redressed";
    font-size: 32px;
    font-weight: 400;
    color: #818181;
    margin-bottom: 16px;
}

.d_bannersilder3 .d_text h2 {
    font-family: "Italiana", sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: #000;
    max-width: 448px;
    margin-bottom: 16px;
}

.d_bannersilder3 .d_text p {
    font-size: 20px;
    font-weight: 400;
    color: #181818;
    max-width: 640px;
    line-height: 36px;
}

.d_bannersilder3 .d_text .d_cta a {
    padding: 12px 60px;
    border-radius: 4px;
    background-color: #2B221E;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

/* .d_culbg{
    background-image: url('./../d_img/culture.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 36px 0;
}
.d_culbg .d_heading{
    max-width: 640px;
}
.d_culbg .d_heading h5{
    font-size: 70px;
    color: #2B221E;
    font-weight: 800;
}
.d_culbg .d_imgcol img{
    width: 200px;
    height: 450px;
    object-fit: cover;
} */
.d_culbg {
    background-image: url('./../d_img/culture.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 82px 0;
    height: 575px;
}

.d_culbg h2 {
    font-size: 70px;
    color: #2B221E;
    font-style: italic;
    font-weight: 800;
    position: relative;
    z-index: 2;
    font-family: "Playfair Display", serif;
}

.d_imgcol {
    height: 450px;
}

.d_imgcol img {
    position: absolute;
    height: 450px;
    width: 190px;
    object-fit: cover;
    border: 2px solid #AD778D;
}

.d_imgcol .d_fimg1 {
    left: -5%;
    z-index: 5;
}

.d_imgcol .d_fimg2 {
    left: 15%;
    top: -8%;
    z-index: 4;
}

.d_imgcol .d_fimg3 {
    left: 35%;
    z-index: 5;
}

.d_imgcol .d_fimg4 {
    left: 55%;
    top: -8%;
    z-index: 5;
}

.d_imgcol .d_fimg5 {
    left: 75%;
    z-index: 5;
}

/* Banner section css end */

@media(max-width:1450px) {
    .d_womenbannerbg .d_img {
        height: 700px;
        width: 720px;
    }

    .d_womenbannerbg .d_content .d_head h2 {
        font-size: 70px;
        line-height: 80px;
    }

    .owl_height {
        height: 660px;
    }

    .d_bannersilder2 .d_content h2 {
        font-size: 100px;
    }

    .d_bannersilder2 .d_content h3 {
        font-size: 30px;
    }

    .d_bannersilder2 .d_content p {
        line-height: 20px;
    }

    .d_culbg h2 {
        font-size: 58px;
    }

    .d_imgcol img {
        width: 165px;
    }

    .d_imgcol .d_fimg1 {
        left: -10%;
    }

    .d_imgcol .d_fimg2 {
        left: 12%;
    }

    .d_imgcol .d_fimg4 {
        left: 58%;
    }

    .d_imgcol .d_fimg5 {
        left: 78%;
    }
}

@media(max-width:1199px) {
    .d_bannersilder2 {
        background-position: right;
    }

    .d_bannersilder2 .d_content h2 {
        font-size: 70px;
    }

    .d_bannersilder2 .d_content h3 {
        font-size: 26px;
    }

    .owl_height {
        height: 640px;
    }

    .d_bannersilder2 .d_content .d_cta a,
    .d_bannersilder3 .d_text .d_cta a {
        padding: 12px 30px;
    }

    .d_bannersilder3 .d_text h6 {
        font-size: 28px;
    }

    .d_bannersilder3 .d_text h2 {
        font-size: 50px;
    }

    .d_bannersilder3 .d_text p {
        font-size: 18px;
        line-height: 26px;
    }

    .d_culbg {
        height: 440px;
        padding: 0;
    }

    .d_imgcol {
        padding: 82px 0;
        height: 440px;
    }

    .d_culbg h2 {
        font-size: 36px;
    }

    .d_imgcol img {
        height: 300px;
        width: 150px;
    }

    .d_imgcol .d_fimg2,
    .d_imgcol .d_fimg4 {
        top: 12%;
    }

    .d_imgcol .d_fimg1 {
        left: -12%;
    }

    .d_imgcol .d_fimg2 {
        left: 10%;
    }

    .d_imgcol .d_fimg3 {
        left: 33%;
    }

    .d_imgcol .d_fimg4 {
        left: 56%;
    }

    .d_imgcol .d_fimg5 {
        left: 76%;
    }
}

@media(max-width:991px) {
    .owl_height{
        height: 465px;
    }
    .d_womenbannerbg .d_img {
        height: 465px;
        width: 385px;
    }

    .d_womenbannerbg .d_content .d_head h2 {
        font-size: 48px;
        line-height: 50px;
    }

    .d_womenbannerbg .d_content .d_head {
        margin-bottom: 28px;
    }

    .d_womenbannerbg .d_plus {
        width: 30px;
        height: 30px;
    }

    .d_womenbannerbg .d_plus .d_plusicon {
        font-size: 16px;
    }

    .d_womenbannerbg .d_popbox {
        padding: 5px;
    }

    .d_womenbannerbg .d_popbox .d_img {
        width: 60px;
        height: 60px;
    }

    .d_womenbannerbg .d_popbox .d_text h6 {
        font-size: 12px;
    }

    .d_womenbannerbg .d_popbox .d_text .d_price {
        font-size: 14px;
    }

    .d_bannersilder3 .d_text h6 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .d_bannersilder3 .d_text h2 {
        font-size: 36px;
        max-width: 400px;
        margin-bottom: 8px;
    }

    .d_bannersilder3 .d_text p {
        font-size: 16px;
        line-height: 20px;
        max-width: 400px;
    }

    .d_culbg {
        padding: 40px 0;
    }

    .d_culbg h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .d_imgcol {
        padding: 0;
    }

    .d_imgcol img {
        width: 175px;
    }

    .d_imgcol .d_fimg1 {
        left: 0;
        top: 6%;
    }

    .d_imgcol .d_fimg2 {
        top: 0;
        left: 18%;
    }

    .d_imgcol .d_fimg3 {
        left: 36%;
        top: 6%;
    }

    .d_imgcol .d_fimg4 {
        top: 0;
        left: 54%;
    }

    .d_imgcol .d_fimg5 {
        left: 73%;
        top: 6%;
    }
}

@media(max-width:767px) {


    .d_womenbannerbg .d_content .d_head h2 {
        font-size: 32px;
    }

    .d_womenbannerbg .d_content .d_cta {
        margin-bottom: 20px;
    }

    .d_womenbannerbg {
        padding-top: 20px;
    }

    .d_womenbannerbg .d_popup {
        top: 15px;
    }


}

@media(max-width:575px) {
    .d_womenbannerbg .d_popbox .d_img {
        width: 30px;
        height: 30px;
    }

    .d_womenbannerbg .d_popbox .d_text h6 {
        margin-bottom: 0;
        line-height: 18px;
    }

    .d_womenbannerbg .d_popbox .d_text h6 {
        font-size: 11px;
    }

    .d_womenbannerbg .d_popbox {
        flex-direction: column;
    }

    .d_womenbannerbg .d_pls .d_popup {
        right: 75%;
    }

    /* .d_womenbannerbg .d_pls .d_popbox::after {
        left: -8px;
    } */

    .d_bannersilder2 .d_content h2 {
        font-size: 50px;
    }

    .d_bannersilder2 .d_content h3 {
        font-size: 22px;
    }

    .owl_height {
        height: 500px;
    }

    .d_womenbannerbg .d_img {
        height: 328px;
        width: 550px;
    }

    .d_bannersilder3 {
        background-position: right;
    }

    .d_bannersilder3 .d_text h2 {
        font-size: 30px;
    }

    .d_bannersilder3 .d_text h6 {
        font-size: 22px;
    }

    .d_culbg h2 {
        font-size: 26px;
        text-align: center;
    }

    .d_imgcol img {
        height: 180px;
        width: 100px;
    }

    .d_culbg {
        height: 335px;
    }
}

@media(max-width:375px) {
    .d_womenbannerbg .d_img {
        width: 400px;
        height: 100%;
    }

    .d_womenbannerbg .d_pls .d_popup {
        right: -170px;
    }

    .d_womenbannerbg .d_pls .d_popbox::after {
        left: -8px;
    }
    .owl_height {
        height: 580px;
    }

    .d_imgcol img {
        width: 95px;
    }

    .d_culbg h2 {
        font-size: 22px;
    }
}

@media(max-width:320px) {
    .d_womenbannerbg .d_pls .d_popup {
        /* left: 0%; */
    }
    .owl_height {
        height: 610px;
    }

    .d_imgcol img {
        width: 80px;
        height: 140px;
    }

    .d_culbg h2 {
        font-size: 20px;
    }

    .d_culbg {
        height: 295px;
    }
}