

.d_trend .d_head {
    margin-bottom: 30px;
}

.d_trend .d_head h4 {
    font-size: 28px;
    font-weight: 600;
    color: #2B221E;
    text-transform: uppercase;
}

.d_trend .d_head p a {
    font-size: 15px;
    font-weight: 500;
    color: #2C7AA6;
}

.d_trend .d_box {
    position: relative;
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    transition: box-shadow 0.3s ease-in-out;
}

.d_trend .d_box .d_img {
    width: 100%;
    height: 600px;
}

.d_trend .d_box .d_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d_trend .d_box .d_trendicon {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    background-color: #d8d8d8;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.d_trend .d_box:hover .d_trendicon {
    opacity: 1;
    visibility: visible;
}

.d_trend .d_box .d_trendicon .d_icon {
    font-size: 24px;
    color: #6a6a6a;
}

.d_trend .d_box .d_seller {
    padding: 5px 24px;
    background-color: #2B221E;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 0;
}
.d_trend .d_box .d_arrival {
    padding: 5px 24px;
    background-color: #B42E54;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 0;
}

.d_trend .d_box .d_content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    width: 100%;
    background-color: #fff;
    /* box-shadow: 0px 4px 14px 0px #8F8F8F40; */
}

.d_trend .d_box .d_content .d_name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

.d_trend .d_box .d_content .d_staricon {
    color: #F8A120;
    font-size: 14px;
}

.d_trend .d_box .d_content .d_review {
    font-size: 12px;
    font-weight: 500;
    color: #2B221E;
}

.d_trend .d_box .d_content .d_desc {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 6px 0 24px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.d_trend .d_box .d_content .d_color {
    width: 20px;
    height: 20px;
    background-color: #BF002A;
    border-radius: 50%;
    margin-right: 8px;
}

.d_trend .d_box .d_content .d_color.active {
    border: 0.75px solid #000000;
}

.d_trend .d_box .d_content .d_color:last-child {
    margin-right: 0;
}

.d_trend .d_box .d_content .d_price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.d_trend .d_box .d_content .d_disprice {
    font-size: 14px;
    color: #6A6A6A;
    font-weight: 500;
    margin-bottom: 3px;
}

.d_trend .d_box .d_content .d_buy a {
    border-radius: 4px;
    background-color: #2B221E;
    padding: 14px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Women filter card */
.d_womenfilter .d_right .d_trend .d_box .d_content{
    height: 170px;
}

@media(max-width:1680px){
    .d_womenfilter .d_right .d_trend .d_box .d_content{
        height: 183px;
    }
    .d_trend .d_box .d_img{
        height: 500px;
    }
}

@media(max-width:1440px) {
    .d_trend .d_box .d_content {
        height: 150px;
        bottom: 0px;
    }

    .d_trend .d_box .d_content .d_desc {
        margin-bottom: 0px;
    }
    .d_trend .d_box .d_content .d_name {
        letter-spacing: 0px;
        line-height: 24px;
    }
   
}
@media(max-width:1199px)
{
    .d_trend .d_head h4{
        font-size: 24px;
    }
    .d_trend .d_box .d_content{
        bottom: 0;
        height: 130px;
    }
    .d_trend .d_box .d_content .d_name{
        font-size: 18px;
    }
    .d_trend .d_box .d_content .d_desc{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        margin-bottom: 6px;
    }
    .d_womenfilter .d_right .d_trend .d_box .d_content{
        height: 150px;
    }
}
@media(max-width:991px){
    .d_trend .d_head h4{
        font-size: 22px;
    }
    .d_trend .d_box .d_content .d_color{
        width: 18px;
        height: 18px;
    }
    .d_womenfilter .d_right .d_trend .d_box .d_img{
        height: 380px;
    }
    .d_trend .d_box .d_content .d_desc {
        line-height: 19px;
    }
}
@media(max-width:575px)
{
    .d_womenfilter .d_right .d_trend .d_box .d_img{
        height: 500px;
    }
    .d_womenfilter .d_right .d_trend .d_box .d_content{
        height: 130px;
    }
    .d_trend .d_head{
        display: inline-block !important;
        text-align: center;
    }
    .d_trend .d_head h4{
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
}