.d_p-50 {
    padding: 50px 0;
}

.d_womendetail .d_subimg .d_img {
    width: 145px;
    margin-bottom: 17px;
    height: 195px;
}

.d_womendetail .d_subimg .d_img:last-child {
    margin-top: 17px;
}

.d_womendetail .d_subimg .d_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
}

.d_womendetail .d_subimg .v_img {
    position: relative;
    height: 195px;
}

.d_womendetail .d_subimg .v_img video {
    width: 100%;
    height: 100%;
    position: relative;
}

.d_womendetail .d_subimg .v_img .d_play {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.d_womendetail .d_subimg .v_img .d_play img {
    width: 100%;
    height: 100%;
    border: none;
}

.d_womendetail .d_subimg .v_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}


.d_womendetail .d_mainimg .d_img {
    width: 100%;
    height: 830px;
    position: relative;
}

.d_womendetail .d_mainimg .d_img {
    width: 100%;
    height: 830px;
    position: relative;
}

.d_womendetail .d_mainimg .d_img img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.d_womendetail .d_mainimg video {
    width: 100%;
    height: 830px;
}

.d_womendetail .d_mainimg .d_img .d_delicon {
    position: absolute;
    top: 3%;
    width: 100%;
    padding: 0 20px;
}

.d_womendetail .d_mainimg .d_img .d_delicon img {
    width: 30px;
}

.d_womendetail .d_mainimg .d_img .d_delicon .d_shareicon {
    font-size: 20px;
    color: #fff;
}

#viewer {
    width: 90vw;
    width: 100%;
    position: relative;
    overflow: hidden;
}

canvas {
    height: 830px;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}


/* content */

.d_womendetail .d_detail .d_name {
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.d_womendetail .d_detail .d_starbg {
    background-color: #feeed9;
    padding: 3px 6px;
    border-radius: 2px;
    opacity: 0.9;
}

.d_womendetail .d_detail .d_starbg .d_staricon {
    color: #F8A120;
    font-size: 18px;
}

.d_womendetail .d_detail .d_starbg .d_review {
    font-size: 12px;
    font-weight: 500;
    color: #2B221E;
}

.d_womendetail .d_detail .d_colordesc {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 6px;
    margin-bottom: 11px;
}

.d_womendetail .d_detail .d_stock {
    font-size: 14px;
    font-weight: 500;
    color: #185829;
    background-color: #ebf6ee;
    padding: 3px 10px;
    display: inline-block;
    margin-bottom: 11px;
}

.d_womendetail .d_detail .d_outofstock {
    font-size: 14px;
    font-weight: 500;
    color: #FF0000;
    background-color: #fed7d7;
    padding: 3px 10px;
    display: inline-block;
    margin-bottom: 11px;
}

.d_womendetail .d_detail .d_desc {
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
    margin-bottom: 10px;
}

.d_womendetail .d_detail .d_price {
    font-weight: 600;
    font-size: 22px;
    color: #000;
}

.d_womendetail .d_detail .d_originalprice {
    font-size: 16px;
    font-weight: 500;
    color: #6A6A6A;
}

.d_womendetail .d_detail .d_saveprice {
    font-size: 12px;
    color: #185829;
    font-weight: 500;
}

.d_womendetail .d_detail .d_offer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.d_womendetail .d_detail .d_offer .d_acc {
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    background-color: #fff;
    border-radius: 4px;
}

.d_womendetail .d_detail .d_offer .d_acctitle {
    padding: 16px;
    border-bottom: 0.5px solid #6A6A6A;
}

.d_womendetail .d_detail .d_offer .d_title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.d_womendetail .d_detail .d_offer .d_icon {
    font-size: 15px;
    font-weight: 500;
    color: #2C7AA6;
}

.d_womendetail .d_detail .d_offer .d_acccon {
    padding: 16px;
}

.d_womendetail .d_detail .d_offer .d_acccon img {
    width: 20px;
    height: 20px;
}

.d_womendetail .d_detail .d_offer .d_offertitle {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.d_womendetail .d_detail .d_offer .d_savepri {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.d_womendetail .d_detail .d_offer .d_offerdesc {
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_womendetail .d_detail .d_deliver .d_tit {
    color: #2B221E;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 11px;
}

.d_womendetail .d_detail .d_deliver .d_loc {
    font-size: 20px;
}

.d_womendetail .d_detail .d_deliver .d_input {
    border-radius: 4px;
    background-color: #EDEDED;
    padding: 12px;
}

.d_womendetail .d_detail .d_deliver .d_input input {
    border: none;
    background-color: #EDEDED;
    font-size: 12px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_womendetail .d_detail .d_deliver .d_input a {
    font-size: 13px;
    font-weight: 500;
    color: #2B221E;
}

.d_womendetail .d_detail .d_deliver .d_delivertime {
    font-size: 14px;
    font-weight: 500;
    color: #2B221E;
}

.d_womendetail .d_detail .d_deliver .d_deliverordertoday {
    font-size: 12px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_womendetail .d_detail .d_deliver {
    margin-bottom: 20px;
}

.d_psdeliver {
    padding-left: 200px;
}

.d_womendetail .d_detail .d_color .d_title {
    font-size: 16px;
    font-weight: 500;
    color: #6A6A6A;
    margin-bottom: 10px;
}

.d_womendetail .d_detail .d_color .d_colorcircle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E15939;
    display: inline-block;
    margin-right: 8px;
}

.d_womendetail .d_detail .d_color .d_colorcircle.active {
    border: 0.75px solid #000000;
}

.d_womendetail .d_detail .d_color {
    margin-bottom: 20px;
}

.d_womendetail .d_detail .d_size {
    margin-bottom: 24px;
}

.d_womendetail .d_detail .d_size .d_title {
    font-size: 16px;
    font-weight: 500;
    color: #6A6A6A;
    margin-bottom: 10px;
}

.d_womendetail .d_detail .d_size a {
    font-size: 13px;
    font-weight: 500;
    color: #2B221E;
}

.d_womendetail .d_detail .d_size .d_sizebox {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #2B221E;
    margin-right: 10px;
    position: relative;
}

.d_womendetail .d_detail .d_size .d_sizebox.active {
    background-color: #2B221E;
    color: #fff;
}

.d_womendetail .d_detail .d_size .d_disable {
    border: 1px solid #6A6A6A;
}

.d_womendetail .d_detail .d_size .d_disable p {
    color: #6A6A6A;
}

.d_diagonal-line {
    position: absolute;
    top: 34%;
    left: 23%;
    width: 53px;
    height: 46px;
    transform: rotate(-45deg);
    border-top: 1.25px solid #6A6A6A;
    transform-origin: center;
}

.d_womendetail .d_detail .d_qun {
    font-size: 16px;
    font-weight: 500;
    color: #6A6A6A;
    margin-bottom: 10px;
}

.d_womendetail .d_dropdownqun {
    position: relative;
    display: block;
}

.d_womendetail .d_dropbtnqun {
    background-color: #EDEDED;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #6A6A6A;
    padding: 12px;
    border: none;
    width: 100%;
}

.d_womendetail .d_dropbtnqun .d_dropicon {
    font-size: 20px;
}

.d_womendetail .d_dropconqun {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    z-index: 1;
    border-radius: 4px;
    padding: 14px 18px;
}

.d_womendetail .d_dropconqun a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 10px;
}

.d_womendetail .d_delbtn {
    margin-bottom: 20px;
}

.d_womendetail .d_delbtn .d_buy {
    width: 190px;
    background-color: #2B221E;
}

.d_womendetail .d_delbtn .d_addcartbtn {
    width: 500px;
    background-color: #2B221E;
}

.d_womendetail .d_delbtn .d_cta a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #2B221E;
    padding: 14px 14px;
}

.d_womendetail .d_delbtn .d_cta .d_hearticon {
    padding: 7px 21px;
    font-size: 28px;
    color: #2B221E;
}

.d_womendetail .d_feau {
    margin-bottom: 11px;
}

.d_womendetail .d_feabg {
    background-color: #E7E4DA;
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 30px;
}

.d_womendetail .d_feabg img {
    width: 22px;
}

.d_womendetail .d_feabg p {
    font-size: 14px;
    font-weight: 500;
    color: #2B221E;
}

.d_womendetail .d_text p {
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
}

input:focus-visible {
    outline: none;
}

/* product information css start */

.d_proinfo .d_heading {
    font-size: 28px;
    font-weight: 600;
    color: #2B221E;
    margin-bottom: 30px;
}

.d_proinfo .accordion {
    --bs-accordion-inner-border-radius: 0 !important;
    border: none;
    --bs-accordion-border-radius: 0 !important;
}

.d_proinfo .accordion-item {
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    border: none;
    margin-bottom: 20px;
}

.d_proinfo .accordion-button {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.d_proinfo .accordion-button:not(.collapsed) {
    background-color: #fff;
}

.d_proinfo .accordion-button:focus {
    box-shadow: none;
}

.d_proinfo .accordion-body {
    padding: 20px 30px;
}

.d_proinfo .d_prodesc .d_desc {
    font-size: 20px;
    font-weight: 400;
    color: #6A6A6A;
    margin-bottom: 20px;
}

.d_proinfo .d_prodesc .d_digitalphoto {
    padding: 6px 16px;
    border-radius: 4px;
    background-color: #2B221E;
    display: inline-block;
    margin-bottom: 30px;
}

.d_proinfo .d_prodesc .d_digitalphoto p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.d_proinfo .d_prodesc .d_head {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 14px;
}

.d_proinfo .d_prodesc .d_con {
    margin-bottom: 11px;
}

.d_proinfo .d_prodesc .d_con p {
    font-size: 16px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_proinfo .d_prodesc .d_con .d_conhead {
    font-size: 18px;
    font-weight: 500;
    color: #2B221E;
}

.d_proinfo .d_prodesc .d_con .d_add {
    max-width: 340px;
}

.d_proinfo .d_proshipping p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    color: #6A6A6A;
}

.d_proinfo .d_review .d_leftbox {
    background-color: #EDEDED;
    width: 100%;
    border-radius: 4px;
}

.d_proinfo .d_review .d_leftbox .d_number {
    font-size: 60px;
    font-weight: 700;
    color: #2B221E;
}

.d_proinfo .d_review .d_leftbox .d_staricon {
    font-size: 16px;
    color: #F8A120;
}

.d_proinfo .d_review .d_leftbox p {
    font-size: 16px;
    font-weight: 400;
    color: #2B221E;
}

.d_proinfo .d_review .d_rightbox {
    background-color: #EDEDED;
    border-radius: 8px;
    padding: 15px 30px;
}

.d_proinfo .d_review .d_rightbox .progress {
    height: 5px;
    background-color: #6A6A6A80;
    width: 85%;
}

.d_proinfo .d_review .d_rightbox .progress-bar {
    background-color: #2B221E;
}

.d_proinfo .d_review .d_rightbox .d_staricon {
    font-size: 10px;
    color: #F8A120;
    margin-top: -5px;
}

.d_proinfo .d_review .d_rightbox .d_emptystar {
    font-size: 10px;
    color: #6A6A6A;
    margin-top: -5px;
}

.d_proinfo .d_review .d_rightbox .d_percetage {
    font-size: 16px;
    font-weight: 500;
    color: #2B221E;
}

.d_proinfo .d_review .d_rightbox .d_rating {
    margin-bottom: 20px;
}

.d_proinfo .d_review .d_reviewlist {
    margin-top: 40px;
}

.d_proinfo .d_review .d_reviewlist .d_head {
    font-size: 24px;
    font-weight: 600;
    color: #1D2939;
    margin-bottom: 24px;
}

.d_proinfo .d_review .d_reviewlist .d_list {
    padding: 20px 0;
    border-bottom: 0.5px solid #6A6A6A;
}

.d_proinfo .d_review .d_reviewlist .d_list:last-child {
    border-bottom: none;
}

.d_proinfo .d_review .d_reviewlist .d_namecircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #164C96;
}

.d_proinfo .d_review .d_reviewlist .d_namecircle span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.d_proinfo .d_review .d_reviewlist .d_name {
    font-size: 17px;
    font-weight: 500;
    color: #2B221E;
}

.d_proinfo .d_review .d_reviewlist .d_dayago {
    font-size: 13px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_proinfo .d_review .d_reviewlist .d_staricon {
    font-size: 10px;
    color: #F8A120;
}

.d_proinfo .d_review .d_reviewlist .d_title {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.d_proinfo .d_review .d_reviewlist .d_desc {
    font-size: 15px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_proinfo .d_review .d_reviewlist .d_like .d_icon {
    font-size: 16px;
    color: #2B221E;
    margin-top: -4px;
}

.d_proinfo .d_review .d_reviewlist .d_dislike .d_icon {
    font-size: 16px;
    color: #2B221E;
}

.d_proinfo .d_review .d_reviewlist .d_img img {
    width: 40px;
    height: 50px;
    border-radius: 2px;
    margin-right: 10px;
}

.d_delcard .d_head h4 {
    font-size: 22px;
    text-transform: capitalize;
}


/* size chart css start */

.d_sizemodal .modal-dialog {
    width: 750px;
}

.d_sizemodal .modal-content {
    border: none;
}

.d_sizemodal .modal-body {
    padding: 20px;
}

.d_sizemodal .d_closeicon .icon {
    font-size: 26px;
    color: #6A6A6A;
}

.d_sizemodal .d_img {
    width: 100%;
    height: 295px;
}

.d_sizemodal .d_img img {
    width: 100%;
    height: 100%;
}

.d_sizemodal .d_text h4 {
    font-size: 34px;
    font-weight: 400;
    color: #2B221E;
    margin-bottom: 16px;
}

.d_sizemodal .d_text p {
    font-weight: 400;
    font-size: 17px;
    color: #6A6A6A;
    line-height: 22px;
}

.d_sizemodal .d_inch {
    padding: 28px 58px;
    border-top: 0.43px solid #6A6A6A80;
}

.d_sizemodal .d_inch .d_inchbg {
    background-color: #E6E6E6;
    color: #6A6A6A;
    font-size: 17px;
    font-weight: 400;
}

.d_sizemodal thead tr th {
    font-size: 20px;
    font-weight: 600;
    color: #6A6A6A;
}

.d_sizemodal tbody tr th {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: start;
}

.d_sizemodal tbody tr td {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.d_sizemodal thead .d_yr td {
    font-size: 17px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_sizemodal .table-bordered>:not(caption)>*>*,
.d_sizemodal .table-bordered>:not(caption)>* {
    border: none;
}

.d_sizemodal .table>:not(caption)>*>* {
    padding: 3px;
}


/* size chart css end */

/* offer modal css start */

.d_offermodal .modal-body {
    padding: 0;
}

.d_offermodal .modal-content {
    box-shadow: 0px 4px 14px 0px #8F8F8F40;
    border-radius: 4px !important;
}

.d_offermodal .d_topsec {
    border-bottom: 0.5px solid #6A6A6A;
    padding: 25px 20px;
}

.d_offermodal .d_topsec h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.d_offermodal .icon {
    font-size: 26px;
    color: #6A6A6A;
}

.d_offermodal .d_offercon {
    padding: 20px 20px;
    border-bottom: 0.5px solid #6A6A6A;
}

.d_offermodal .d_offercon:last-child {
    border-bottom: none;
}

.d_offermodal .d_offercon .d_text .d_title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.d_offermodal .d_offercon .d_text .d_saveprice {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.d_offermodal .d_offercon .d_text p {
    font-size: 14px;
    font-weight: 400;
    color: #6A6A6A;
}

.d_offermodal .modal-dialog {
    width: 670px;
}

/* offer modal css end */


@media(max-width:1440px) {

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        width: 120px;
        height: 160px;
    }

    .d_womendetail .d_mainimg .d_img {
        height: 685px;
    }

    .d_womendetail .d_mainimg .d_img video {
        height: 685px;
    }

    .d_womendetail .d_detail .d_offer .d_acccon,
    .d_womendetail .d_detail .d_offer .d_acctitle {
        padding: 10px;
    }

    .d_womendetail .d_detail .d_name {
        font-size: 18px;
    }

    .d_womendetail .d_detail .d_colordesc {
        font-size: 14px;
        margin-top: 2px;
    }

    .d_womendetail .d_detail .d_desc {
        font-size: 12px;
    }

    .d_womendetail .d_detail .d_price {
        font-size: 20px;
    }

    .d_womendetail .d_detail .d_colordesc,
    .d_womendetail .d_detail .d_stock,
    .d_womendetail .d_detail .d_deliver .d_tit,
    .d_womendetail .d_detail .d_deliver,
    .d_womendetail .d_detail .d_color .d_title {
        margin-bottom: 5px;
    }

    .d_womendetail .d_detail .d_deliver .d_input {
        padding: 8px;
    }

    .d_psdeliver {
        padding-left: 30px;
    }

    .d_womendetail .d_detail .d_color .d_colorcircle {
        width: 25px;
        height: 25px;
    }

    .d_womendetail .d_detail .d_size .d_sizebox {
        width: 30px;
        height: 30px;
    }

    .d_womendetail .d_dropbtnqun {
        padding: 8px;
    }

    .d_womendetail .d_detail .d_offer {
        margin-top: 5px;
        margin-bottom: 11px;
    }

    .d_womendetail .d_detail .d_color,
    .d_womendetail .d_detail .d_size {
        margin-bottom: 11px;
    }

    .d_womendetail .d_delbtn .d_cta .d_hearticon {
        padding: 0px 15px;
    }

    .d_womendetail .d_delbtn .d_cta a {
        padding: 8px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 295px;
    }

    .d_womendetail .d_feabg {
        padding: 8px;
    }

    .d_proinfo .d_proshipping p {
        font-size: 17px;
    }

    .d_proinfo .d_review .d_reviewlist .d_head {
        margin-bottom: 15px;
    }

    .d_proinfo .d_review .d_reviewlist {
        margin-top: 15px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 80%;
    }
    
    canvas{
        height: 685px;
    }
}

@media(max-width:1199px) {
    .d_psdeliver {
        padding-left: 15px;
        margin-top: 5px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 180px;
    }

    .d_womendetail .d_feabg {
        margin-right: 15px;
    }

    .d_womendetail .d_feabg p {
        font-size: 12px;
    }

    .d_womendetail .d_text p {
        font-size: 12px;
    }

    .d_proinfo .d_heading {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .d_proinfo .accordion-button {
        padding: 15px 25px;
        font-size: 20px;
    }

    .d_proinfo .accordion-body {
        padding: 15px 25px;
    }

    .d_proinfo .d_prodesc .d_desc {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .d_proinfo .d_prodesc .d_digitalphoto {
        margin-bottom: 15px;
    }

    .d_proinfo .d_prodesc .d_con {
        margin-bottom: 6px;
    }

    .d_proinfo .d_prodesc .d_con p {
        font-size: 14px;
    }

    .d_proinfo .d_prodesc .d_con .d_conhead {
        font-size: 16px;
    }

    .d_proinfo .d_review .d_leftbox .d_number {
        font-size: 40px;
    }

    .d_proinfo .d_review .d_rightbox .d_rating {
        margin-bottom: 10px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 77%;
    }

    .d_sizemodal .modal-body {
        padding: 10px;
    }

    .d_sizemodal .d_inch {
        padding: 14px 24px;
    }

    .d_offermodal .d_topsec {
        padding: 18px;
    }

    .d_offermodal .d_offercon {
        padding: 15px;
    }

    canvas{
        height: 685px;
    }
}

@media(max-width:991px) {

    .d_womendetail .d_mainimg .d_img,
    .d_womendetail .d_mainimg video {
        height: 645px;
    }

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        height: 150px;
    }

    .d_psdeliver {
        margin-top: 0;
    }

    .d_womendetail .d_detail .d_size .d_sizebox p {
        font-size: 14px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 445px;
    }

    .d_proinfo .d_proshipping p {
        font-size: 15px;
        margin-bottom: 5px;
        line-height: 22px;
    }

    .d_proinfo .d_review .d_reviewlist .d_list {
        padding: 10px 0;
    }

    .d_proinfo .d_review .d_reviewlist .d_namecircle {
        width: 35px;
        height: 35px;
    }

    .d_proinfo .d_review .d_reviewlist .d_namecircle span {
        font-size: 14px;
    }

    .d_proinfo .d_review .d_reviewlist .d_desc {
        font-size: 14px;
    }

    .d_proinfo .d_review .d_reviewlist .d_title {
        margin-bottom: 5px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 68%;
    }

    .d_sizemodal .modal-dialog {
        width: 800px;
    }

    .d_sizemodal .d_text h4 {
        font-size: 26px;
    }

    .d_sizemodal .d_img {
        height: 220px;
    }

    .d_sizemodal .d_text p {
        font-size: 15px;
    }

    .d_sizemodal thead tr th {
        font-size: 16px;
    }

    .d_sizemodal .d_inch .d_inchbg {
        font-size: 15px;
    }

    .d_sizemodal tbody tr th {
        font-size: 16px;
    }

    .d_sizemodal tbody tr td {
        font-size: 15px;
    }

    .d_sizemodal thead .d_yr td {
        font-size: 15px;
    }

    .d_offermodal .modal-dialog {
        width: 700px;
    }

    .d_offermodal .d_topsec h4 {
        font-size: 18px;
    }

    .d_offermodal .icon {
        font-size: 20px;
    }
   
    canvas{
        height: 645px;
    }
}

@media(max-width:575px) {
    .d_womendetail .d_subimg {
        display: flex;
    }

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        width: 90px;
        height: 150px;
        margin-right: 10px;
    }

    .d_womendetail .d_subimg .d_img:last-child {
        margin: 0;
    }

    .d_womendetail .d_mainimg {
        margin-bottom: 20px;
    }

    .d_womendetail .d_mainimg .d_img,
    .d_womendetail .d_mainimg video {
        height: 500px;
    }

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        height: 120px;
    }

    .d_womendetail .d_delbtn .d_buy {
        width: 100px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 210px;
    }

    .d_psdeliver {
        margin-top: 6px;
    }

    .d_womendetail .d_feabg {
        margin-right: 5px;
    }

    .d_womendetail .d_feabg img {
        width: 18px;
    }

    .d_womendetail .d_feabg p {
        font-size: 11px;
    }

    .d_proinfo .d_prodesc .d_con .d_add {
        max-width: 100%;
    }

    .d_proinfo .accordion-button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .d_proinfo .accordion-body {
        padding: 10px 15px;
    }

    .d_proinfo .d_prodesc .d_desc {
        font-size: 16px;
    }

    .d_proinfo .d_prodesc .d_digitalphoto {
        padding: 6px 8px;
    }

    .d_proinfo .d_prodesc .d_digitalphoto p {
        font-size: 12px;
    }

    .d_proinfo .d_prodesc .d_head {
        font-size: 20px;
    }

    .d_proinfo .d_prodesc .d_con .d_conhead {
        font-size: 14px;
    }

    .d_proinfo .d_prodesc .d_con p {
        font-size: 12px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 55%;
    }

    .d_proinfo .accordion-item {
        margin-bottom: 15px;
    }

    .d_sizemodal .modal-dialog {
        width: 400px;
    }

    .d_sizemodal .d_img {
        height: 250px;
    }

    .d_sizemodal thead .d_yr td {
        font-size: 12px;
    }

    .d_sizemodal .modal {
        padding-left: 0 !important;
        margin: 0px -5px;
    }
    .d_offermodal .modal-dialog{
        width: 400px;
    }
    .d_offermodal .d_offercon .d_text .d_title{
        font-size: 14px;
    }
    .d_offermodal .d_offercon .d_text p {
        font-size: 12px;
    }
    canvas{
        height: 500px;
    }
}

@media(max-width:399px) {
    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 170px;
    }

    .d_womendetail .d_feabg:last-child {
        margin-top: 5px;
    }

}

@media(max-width:375px) {

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        width: 80px;
        height: 100px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 160px;
    }

    .d_womendetail .d_feabg:last-child {
        margin-top: 5px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 47%;
    }

    .d_sizemodal .modal-dialog {
        width: 350px;
    }

    .d_sizemodal .d_inch {
        padding: 14px;
    }

    .d_sizemodal tbody tr td,
    .d_sizemodal .d_inch .d_inchbg,
    .d_sizemodal thead tr th {
        font-size: 13px;
    }

    .d_sizemodal tbody tr th {
        font-size: 11px;
    }
    .d_offermodal .modal-dialog{
        width: 350px;
    }
}

@media(max-width:320px) {

    .d_womendetail .d_subimg .d_img,
    .d_womendetail .d_subimg .v_img {
        width: 70px;
        height: 95px;
        margin-right: 5px;
    }

    .d_womendetail .d_mainimg .d_img {
        height: 400px;
    }

    .d_womendetail .d_delbtn .d_addcartbtn {
        width: 110px;
    }

    .d_proinfo .d_review .d_rightbox .progress {
        width: 34%;
    }

    .d_sizemodal .modal-dialog {
        width: 300px;
    }
    .d_offermodal .modal-dialog{
        width: 300px;
    }
    canvas{
        height: 400px;
    }
}