.d_black{
    color: #000000;
}

.V_back_spe_off {
    background-image: url('../../assets/special_offer.png');
    height: 576px;
    background-position: center;
    background-size: cover;
}
.v_spacialpadd{
    padding-left: 200px;
}
.V_special {
    width: 188px;
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    background-color: #434377;
}

.V_sale {
    width: 538px;
    font-size: 58px;
    font-weight: 600;
}

.V_thirty30 {
    font-size: 58px;
    font-weight: 600;
    color: #434377;
}


.V_ele_slider_2_back {
    background: linear-gradient(261.7deg, #051524 24.8%, #000000 133.72%);
    width: 1920px;
    height: 916px;
}

.V_the_lion {
    font-size: 50px;
    font-weight: 400;
}


.V_story_stickers {
    font-size: 25px;
    font-weight: 400;
}

.V_laptop_text_width {
    width: 650px;
}


.V_main_img {
    width: 583px;
    height: 500px;
}

.V_child_img {
    width: 210px !important;
    height: 150px;
    top: 689.47px;
    left: 997px;
    gap: 0px;
    opacity: 0px;

}

.V_skin_button {
    background-color: white;
    color: black;
}

.V_skin_button:hover {
    background-color: black;
    color: white;
}

.V_buy_head {
    background-color: white !important;
    color: black !important;
    border: none !important;
  }
  
  .V_buy_head:hover,
  .V_buy_head:focus,
  .V_buy_head:active {
    background-color: black !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
  }
  

.V_buy_noise {
    background-color: white !important;
    color: black;
}

.V_buy_noise:hover {
    background-color: black !important;
    color: white;
}


.btn:focus-visible{
    border-color: black;
    box-shadow: 0px;
}
.btn-primary{
 border: 0px;
}


.V_boat {
    width: 1920px;
    height: 916px;
    background-color: #272C34;
}


.V_boat {
    position: relative;
    width: 100%;
    height: 100%;
}

.V_boat::before{
    content: 'boAt';
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400px;
    font-weight: 1000;
    margin-right: 10px;
    z-index: 5;
}

.V_rockerz {
    color: #F7E6D3;
    font-size: 90px;
    font-weight: 700;
}


.V_bluethooth {
    font-size: 40px;
    font-weight: 300;
}

.V_boat_img {
    width: 550px !important;
    height: 550px;
    margin-left: 400px;
}

.V_noise {
    width: 1920px;
    height: 916px;
    background-color: #34394D;
}

.V_logo_img {
    width: 183.1px !important;
    height: 52.3px;
}

.V_noise_width {
    width: 530px;
}

.V_moment {
    color: #FFD7B4;
    font-size: 55px;
    font-weight: 700;
}

.V_between {
    font-size: 55px;
    font-weight: 400;
}

.V_noise_img {
    width: 490px !important;
    height: 490px;
    margin-left: auto;
}

.V_460{
    position: relative;
    z-index: 5;
}



/* ///////////////////////////////////////////////////////// media Query ////////////////////////////////////////////////// */


@media (min-width: 1650px) {


    .V_sale {
        width: 538px;
        font-size: 58px;
    }

    .V_thirty30 {
        font-size: 58px;

    }

    .V_back_spe_off {
        height: 576px;
        width: 100%;
    }


    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 50px;
        font-weight: 400;
    }


    .V_story_stickers {
        font-size: 25px;
    }

    .V_laptop_text_width {
        width: 650px;
    }


    .V_main_img {
        width: 550px !important;
        height: 440px;
    }

    .V_child_img {
        width: 200px !important;
        height: 130px;
    }



    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 400px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 90px;
    }


    .V_bluethooth {
        font-size: 40px;
    }

    .V_boat_img {
        width: 550px !important;
        height: 550px;
        margin-left: 320px;
    }

    .V_460 {
        width: 750px;
    }


    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 183px !important;
        height: 52px;
    }

    .V_noise_width {
        width: 530px;
    }

    .V_moment {
        font-size: 55px;
    }

    .V_between {
        font-size: 55px;
    }

    .V_noise_img {
        width: 490px !important;
        height: 490px;
        margin-left: auto;
    }
    .v_spacialpadd{
        padding-left: 40px;
    }
    
}

@media (min-width: 1440px) and (max-width: 1649px) {



    .V_sale {
        width: 538px;
        font-size: 58px;
    }

    .V_thirty30 {
        font-size: 58px;

    }

    .V_back_spe_off {
        height: 576px;
        width: 100%;
    }

    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 44px;
        font-weight: 400;
    }


    .V_story_stickers {
        font-size: 22px;
    }

    .V_laptop_text_width {
        width: 572px;
    }


    .V_main_img {
        width: 500px !important;
        height: 380px;
    }

    .V_child_img {
        width: 150px !important;
        height: 120px;
    }



    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 400px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 74px;
    }


    .V_bluethooth {
        font-size: 36px;
    }

    .V_boat_img {
        width: 550px !important;
        height: 450px;
        margin-left: 180px;
    }

    .V_460 {
        width: 620px;
    }



    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 183px !important;
        height: 52px;
    }

    .V_noise_width {
        width: 530px;
    }

    .V_moment {
        font-size: 52px;
    }

    .V_between {
        font-size: 52px;
    }

    .V_noise_img {
        width: 440px !important;
        height: 440px;
        margin-left: auto;
    }
    .v_spacialpadd{
        padding-left: 40px;
    }

}

@media (min-width: 1200px) and (max-width: 1439px) {



    .V_sale {
        width: 538px;
        font-size: 58px;
    }

    .V_thirty30 {
        font-size: 58px;

    }

    .V_back_spe_off {
        height: 576px;
        width: 100%;
    }

    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 36px;
        font-weight: 400;
    }


    .V_story_stickers {
        font-size: 20px;
    }

    .V_laptop_text_width {
        width: 470px;
    }


    .V_main_img {
        width: 390px !important;
        height: 240px;
    }

    .V_child_img {
        width: 145px !important;
        height: 110px;
    }


    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 400px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 68px;
    }


    .V_bluethooth {
        font-size: 32px;
    }

    .V_boat_img {
        width: 550px !important;
        height: 450px;
        margin-left: 100px;
    }

    .V_460 {
        width: 570px;
    }



    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 183px !important;
        height: 52px;
    }

    .V_noise_width {
        width: 500px;
    }

    .V_moment {
        font-size: 50px;
    }

    .V_between {
        font-size: 50px;
    }

    .V_noise_img {
        width: 420px !important;
        height: 420px;
        margin-left: auto;
    }
    .v_spacialpadd{
        padding-left: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {



    .V_sale {
        width: 400px;
        font-size: 44px;
    }

    .V_thirty30 {
        font-size: 48px;

    }

    .V_back_spe_off {
        height: 400px;
        width: 100%;
    }


    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 30px;
    }


    .V_story_stickers {
        font-size: 16px;
    }

    .V_laptop_text_width {
        width: 395px;
    }


    .V_main_img {
        width: 320px !important;
        height: 230px;
    }

    .V_child_img {
        width: 115px !important;
        height: 100px;
    }


    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 400px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 54px;
    }


    .V_bluethooth {
        font-size: 28px;
    }

    .V_boat_img {
        width: 500px !important;
        height: 400px;
        margin-left: 40px;
    }

    .V_460 {
        width: 450px;
    }


    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 183px !important;
        height: 52px;
    }

    .V_noise_width {
        width: 450px;
    }

    .V_moment {
        font-size: 46px;
    }

    .V_between {
        font-size: 46px;
    }

    .V_noise_img {
        width: 400px !important;
        height: 400px;
        margin-left: auto;
    }
    .v_spacialpadd{
        padding-left: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .V_sale {
        width: 320px;
        font-size: 34px;
    }

    .V_thirty30 {
        font-size: 40px;

    }

    .V_back_spe_off {
        height: 300px;
        width: 100%;
    }

    .V_special {
        width: 188px;

    }

    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 22px;
    }


    .V_story_stickers {
        font-size: 14px;
    }

    .V_laptop_text_width {
        width: 300px;
    }


    .V_main_img {
        width: 320px !important;
        height: 240px;
    }

    .V_child_img {
        width: 90px !important;
        height: 90px;
    }


    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 300px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 46px;
    }


    .V_bluethooth {
        font-size: 24px;
    }

    .V_boat_img {
        width: 400px !important;
        height: 300px;
        margin-left: 10px;
    }

    .V_460 {
        width: 400px;
    }


    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 183px !important;
        height: 52px;
    }

    .V_noise_width {
        width: 450px;
    }

    .V_moment {
        font-size: 42px;
    }

    .V_between {
        font-size: 42px;
    }

    .V_noise_img {
        width: 300px !important;
        height: 300px;
        margin-left: auto;
    }
    .v_spacialpadd{
        padding-left: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .V_sale {
        width: 290px;
        font-size: 34px;
    }

    .V_thirty30 {
        font-size: 34px;

    }

    .V_back_spe_off {
        height: 250px;
        width: 100%;
    }

    .V_special {
        width: 180px;

    }



    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 22px;
    }


    .V_story_stickers {
        font-size: 14px;
    }

    .V_laptop_text_width {
        width: 100%;
    }


    .V_main_img {
        width: 300px !important;
        height: 220px;
    }

    .V_child_img {
        width: 120px !important;
        height: 110px;
    }



    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 250px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 40px;
    }


    .V_bluethooth {
        font-size: 20px;
    }

    .V_boat_img {
        width: 450px !important;
        height: 300px;
        margin: auto;
    }

    .V_460 {
        width: 350px;
    }


    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 150px !important;
        height: 50px;
    }

    .V_noise_width {
        width: 500px;
    }

    .V_moment {
        font-size: 38px;
    }

    .V_between {
        font-size: 38px;
    }

    .V_noise_img {
        width: 280px !important;
        height: 250px;
        margin-right: auto;
    }
   
}

@media (min-width: 480px) and (max-width: 575px) {
    .V_sale {
        width: 250px;
        font-size: 30px;
    }

    .V_thirty30 {
        font-size: 30px;

    }

    .V_back_spe_off {
        height: 180px;
        width: 100%;
    }

    .V_special {
        width: 150px;

    }



    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 20px;
    }


    .V_story_stickers {
        font-size: 12px;
    }

    .V_laptop_text_width {
        width: 100%;
    }


    .V_main_img {
        width: 180px !important;
        height: 140px;
    }

    .V_child_img {
        width: 115px !important;
        height: 70px;
    }


    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 200px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 34px;
    }


    .V_bluethooth {
        font-size: 16px;
    }

    .V_boat_img {
        width: 350px !important;
        height: 230px;
        margin: auto;
    }

    .V_460 {
        width: 300px;
    }



    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 130px !important;
        height: 40px;
    }

    .V_noise_width {
        width: 370px;
    }

    .V_moment {
        font-size: 32px;
    }

    .V_between {
        font-size: 32px;
    }

    .V_noise_img {
        width: 270px !important;
        height: 200px;
        margin-right: auto;
    }
    .v_spacialpadd{
        padding-left: 25px;
    }
}

@media (min-width: 300px) and (max-width: 479px) {

    .V_sale {
        width: 170px;
        font-size: 16px;
    }

    .V_thirty30 {
        font-size: 20px;

    }

    .V_back_spe_off {
        height: 150px;
        width: 100%;
    }

    .V_special {
        width: 140px;
    }



    .V_ele_slider_2_back {
        width: 100%;
        height: 100%;
    }

    .V_the_lion {
        font-size: 18px;
    }


    .V_story_stickers {
        font-size: 10px;
    }

    .V_laptop_text_width {
        width: 100%;
    }


    .V_main_img {
        width: 160px !important;
        height: 160px;
    }

    .V_child_img {
        width: 70px !important;
        height: 70px;
    }


    .V_boat {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .V_boat::before {
        font-size: 140px;
        margin-right: 10px;
    }

    .V_rockerz {
        font-size: 28px;
    }


    .V_bluethooth {
        font-size: 14px;
    }

    .V_boat_img {
        width: 300px !important;
        height: 249px;
        margin: auto;
    }

    .V_460 {
        width: 240px;
    }



    .V_noise {
        width: 100%;
        height: 100%;
    }

    .V_logo_img {
        width: 110px !important;
        height: 30px;
    }

    .V_noise_width {
        width: 270px;
    }

    .V_moment {
        font-size: 28px;
    }

    .V_between {
        font-size: 28px;
    }

    .V_noise_img {
        width: 230px !important;
        height: 180px;
        margin-right: auto;
    }
    .v_spacialpadd{
        padding-left: 25px;
    }
}














/* ------------------------------------- css ------------------------------------- */

.VK_card_imgs {
    height: 350px;
}


.VK_shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.VK_ele_card_per {
    position: relative;
}

.VK_ele_card_per:hover .VK_wishlist_icn {
    opacity: 1;
    visibility: visible;
}

.VK_best-seller {
    position: absolute;
    width: 100%;
}

.VK_sellter_tag {
    background-color: #2B221E;
    color: white;
    font-size: 12px;
    height: 25px;
    width: 100px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.VK_wishlist_icn {
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    height: 34px;
    width: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #6A6A6A;
}

.VK_ele_product_comp {
    font-size: 20px;
    text-transform: uppercase;
}

.icn {
    position: relative;
    top: -2px;
}

.VK_product_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    color: #000000;
}

.VK_product_col_dot {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

.VK_product_col_dot:hover{
    border: 1px dashed black;
}

.VK_btn_shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.VK_three_col {
    position: relative;
}

.VK_three_child {
    padding: 30px 40px;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 0%;
}

.VK_three_child h3 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.VK_margig {
    margin-top: -25px;
}

.VK_margig1 {
    margin-top: -15px;
}


/* -------------------------------------------------------- media query -------------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {
    .VK_three_child {
        padding: 10px 0px 0px 20px;
        width: 70%;
    }

    .VK_three_child h3 {
        font-size: 18px;
    }
    .VK_card_imgs{
        height: 300px;
    }
}


/* small device */
@media (max-width:575px) and (min-width:481px) {
    .VK_three_child {
        padding: 10px 0px 0px 20px;
        width: 100%;
    }

    .VK_three_child h3 {
        font-size: 18px;
    }
}


/* medium device */
@media (max-width:766px) and (min-width:576px) {
    .VK_three_child {
        padding: 10px 0px 0px 20px;
        width: 70%;
    }

    .VK_three_child h3 {
        font-size: 18px;
    }
    
}


/* lg device */
@media (max-width:991px) and (min-width:767px) {
    .VK_three_child {
        padding: 10px 0px 0px 20px;
        width: 70%;
    }

    .VK_three_child h3 {
        font-size: 18px;
    }
    .VK_card_imgs {
        height: 300px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {
    .VK_three_child {
        padding: 10px 0px 30px 20px;
        width: 70%;
    }

    .VK_three_child h3 {
        font-size: 20px;
    }
    .VK_card_imgs {
        height: 260px;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .VK_three_child {
        padding: 30px 0px 30px 20px;
        width: 60%;
    }

    .VK_three_child h3 {
        font-size: 24px;
    }
    .VK_card_imgs {
        height: 300px;
    }
}


/* 3xl device */
@media (min-width:1441px) {
    .VK_three_child {
        padding: 30px 40px;
        width: 50%;
        position: absolute;
        top: 10%;
        left: 0%;
    }
    .VK_margig1 {
        margin-top: -25px;
    }
}