.V_poste .V_boxe .V_img1e{
    width: 100%;
    position: relative;
}
.V_poste .V_boxe .V_img1e img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.V_poste .V_boxe .V_texte{
    padding: 0 0 10px 20px;
    position: absolute;
    bottom: 0;
}
.V_poste .V_boxe .V_texte p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}
.V_poste .V_boxe .V_texte .V_discounttexte{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}


.V_boxe{
 position: relative;
}
.V_boxe::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0px;
    left: 0;
    opacity: 0.5;
}
.V_texte{
    z-index: 1;
}
@media(min-width:992px) and (max-width:2600px) {
    .V_col-20e {
        width: 20%;
    }
}

@media(max-width:425px)
{
    .V_poste .V_boxe .V_img1e{
        height: 400px;   
    }
    .V_poste .V_boxe .V_img1e img{
        object-position: bottom;
    }
}
@media(max-width:375px){
    .V_poste .V_boxe .V_img1e{
        height: 300px;   
    }
    .VK_three_child h3{
        font-size: 15px;
    }
}