/* nav bar */
.d_theme{
    color: #212529;
}
.d_headertext{
    color: #090909;
}
.VK_header_nav .VK_sub_menu a:hover{
    font-weight: 500;
    color: #090909;
}
.header {
    background-color: #2B221E;
}

.VK_header_drop .dropdown-toggle::after {
    display: none;
}

.VK_header_search_bar {
    width: 880px;
}

.VK_search_parent {
    position: relative;
}

.VK_input_suggestion {
    position: absolute;
    top: calc(100% + 10px);
    left: 0%;
    z-index: 10;
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: white;
}

.mv_search_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}
.mv_search_a{
    text-decoration: none !important;
}

/* image search */
.VK_image_search_heading {
    font-size: 22px;
    font-weight: 600;
}

.VK_or_line {
    height: 2px;
    width: 45%;
    background-color: #6a6a6a6b;
}

.VK_from_input {
    outline: none;
    background-color: #EDEDED;
    border: none;
    border-radius: 5px;
}

.VK_image_btn {
    background-color: #2B221E;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 40px;
}

/* header */
.white_space {
    white-space: nowrap;
}



/* offcanvas */
.header_accoridan .accordion-button {
    box-shadow: none !important;
    background-color: white !important;
    color: black !important;
}

.header_accoridan .accordion-item {
    border: none !important;
}


/* nav bar */

.VK_nav_bar {
    background-color: #F5F5F7;
}

.VK_sub_scroll_bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

.VK_sub_scroll_bar::-webkit-scrollbar {
    display: none;
}

.VK_mega_menu {
    transition: opacity 0.5s ease;
}

.header_color {
    color: #2B221E;
}

.header_light {
    color: #6A6A6A;
}

.VK_mega_menu_div_parent {
    display: flex;
    flex-wrap: wrap;
}

.VK_menu_list {
    margin: 15px 10px;
    padding: 0px 10px;
    flex-grow: 1;
    box-sizing: border-box;
}
.VK_menu_list li{
    transition: .3s;
}
.VK_menu_list li:hover{
    color: #2B221E;
    font-weight: 600;
}


.VK_mega_menu {
    position: absolute;
    width: 100%;
    padding: 30px 30px 50px 50px;
    left: 0%;
    /* opacity: 0; */
    /* visibility: hidden; */
    top: 128px;
    background-color: white;
    z-index: 3;
    /* transition: all 0.5s ease; */
    display: none;
}

.VK_sub_menu:hover .VK_mega_menu {
    /* opacity: 1; */
    /* visibility: visible; */
    display: block;
}


.VK_sub_menu {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
}



/* model css */

.model_padding {
    padding: 40px 50px;
}

.model_heading {
    font-size: 26px;
    color: black;
}

.modal-dialog {
    width: 600px;
    margin: 0px auto;
}

.model_theme {
    background-color: #2B221E;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

/* register model */

.VK_underline {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.modal-content {
    border-radius: 0px !important;
}


.model_input {
    background-color: #EDEDED;
    border: 2px solid #EDEDED;
    padding: 15px;
    border-radius: 5px;
    outline: none;
}

.model_input:focus {
    background-color: white;
}

.input_password {
    position: relative;
}

.VK_eyes {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}


/* login model */
.VK_forget_link {
    color: #DB4444;
}


/* otp model */
.VK_otp_input {
    height: 46px;
    width: 46px;
    background-color: #EDEDED;
    border: 2px solid #EDEDED;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

/* -------------------------------------------------------- media query -------------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {
    .VK_mega_menu_div_parent {
        grid-template-columns: repeat(1, 1fr);
    }

    .VK_mega_menu {
        padding: 30px 10px 20px 10px;
    }

    /* model */

    .model_input {
        padding: 10px;
    }

    .model_p {
        font-size: 14px;
    }

    .model_heading {
        font-size: 20px;
    }

    .model_theme {
        padding: 10px;
        font-size: 16px;
    }

    .register_model .modal-dialog {
        width: 100%;
    }

    .login_model .modal-dialog {
        width: 100%;
    }

    .otp_model .modal-dialog {
        width: 100%;
    }

    .VK_image_search_model .modal-dialog {
        width: 100%;
    }


    .model_padding {
        padding: 20px 20px;
    }
}


/* small device */
@media (max-width:575px) and (min-width:481px) {
    .VK_mega_menu_div_parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .VK_mega_menu {
        padding: 30px 30px 20px 30px;
    }

    /* model */

    .register_model .modal-dialog {
        width: 400px;
    }

    .login_model .modal-dialog {
        width: 400px;
    }

    .otp_model .modal-dialog {
        width: 400px;
    }


    .VK_image_search_model .modal-dialog {
        width: 100%;
    }

    .model_padding {
        padding: 30px 30px;
    }
}


/* medium device */
@media (max-width:766px) and (min-width:576px) {
    .VK_mega_menu_div_parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .VK_mega_menu {
        padding: 30px 30px 20px 30px;
    }

    /* model */

    .register_model .modal-dialog {
        width: 450px;
    }

    .login_model .modal-dialog {
        width: 450px;
    }

    .otp_model .modal-dialog {
        width: 450px;
    }

    .model_padding {
        padding: 30px 30px;
    }
}


/* lg device */
@media (max-width:991px) and (min-width:767px) {
    .VK_mega_menu_div_parent {
        grid-template-columns: repeat(3, 1fr);
    }

    .VK_mega_menu {
        padding: 30px 30px 20px 30px;
    }

    /* model */

    .register_model .modal-dialog {
        width: 500px;
    }

    .login_model .modal-dialog {
        width: 500px;
    }

    .otp_model .modal-dialog {
        width: 550px;
    }

    .model_padding {
        padding: 40px 50px;
    }
}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {

    /* .VK_header_nav {
        padding: 0px 50px;
    } */

    .VK_menu_list {
        width: 20%;
    }

    .VK_mega_menu {
        padding: 30px 30px 20px 50px;
    }

    /* model */

    .register_model .modal-dialog {
        width: 500px;
    }

    .login_model .modal-dialog {
        width: 500px;
    }

    .otp_model .modal-dialog {
        width: 500px;
    }

    .model_padding {
        padding: 40px 50px;
    }
}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    /* .VK_header_nav {
        padding: 0px 50px;
    } */

    .VK_menu_list {
        width: 18%;
    }

    .VK_mega_menu {
        padding: 30px 30px 20px 50px;
    }

    /* model */

    .register_model .modal-dialog {
        width: 500px;
    }

    .login_model .modal-dialog {
        width: 500px;
    }

    .otp_model .modal-dialog {
        width: 500px;
    }

    .model_padding {
        padding: 40px 40px;
    }

}


/* 3xl device */
@media (min-width:1441px) {
    .VK_header_nav {
        padding: 0px 50px;
    }

    .VK_mega_menu_div_parent {
        grid-template-columns: repeat(7, 1fr);
    }

    .VK_mega_menu {
        padding: 30px 20px 50px 50px;
    }

    .VK_menu_list {
        width: 13%;
        text-wrap: wrap;
    }

    /* model */

    .register_model .modal-dialog {
        width: 600px;
    }

    .login_model .modal-dialog {
        width: 600px;
    }

    .otp_model .modal-dialog {
        width: 500px;
    }

    .model_padding {
        padding: 40px 50px;
    }

    .model_p {
        font-size: 20px;
    }

}

@media (min-width:1650px) {
    .VK_header_nav {
        padding: 0px 0px;
    }

    .VK_sub_scroll_bar {
        width: 80% !important;
    }
}