/* nav bar */

.header {
    background-color: #2B221E;
}

.VK_header_drop .dropdown-toggle::after {
    display: none;
}

.VK_header_search_bar {
    width: 880px;
}


/* header */
.white_space {
    white-space: nowrap;
}



/* offcanvas */
.header_accoridan .accordion-button {
    box-shadow: none !important;
    background-color: white !important;
    color: black !important;
}

.header_accoridan .accordion-item {
    border: none !important;
}


/* nav bar */

.VK_sub_menu {
    position: relative;
}

.VK_sub_menu:hover .VK_mega_menu {
    opacity: 1;
    display: block;
}

.header_color {
    color: #2B221E;
}

.header_light{
    color: #6A6A6A;
}

.VK_mega_menu {
    position: fixed;
    width: 100vw;
    /* opacity: 0; */
    /* display: none; */
    padding: 30px 30px 50px 50px;
    left: 0%;
    background-color: white;
    z-index: 3;
}

/* -------------------------------------------------------- media query -------------------------------------------------------- */


/*  extra small device */
@media (max-width:480px) {}


/* small device */
@media (max-width:575px) and (min-width:481px) {}


/* medium device */
@media (max-width:766px) and (min-width:576px) {}


/* lg device */
@media (max-width:991px) and (min-width:767px) {}


/* xl device */
@media (max-width:1199px) and (min-width:992px) {}


/* 2xl device */
@media (max-width:1440px) and (min-width:1200px) {
    .VK_header_nav {
        padding: 0px 50px;
    }
}


/* 3xl device */
@media (min-width:1441px) {
    .VK_header_nav {
        padding: 0px 50px;
    }
}