/* font css */
:root {
    font-family: "inter", sans-serif;
}

.inter{
    font-family: "inter", sans-serif;
}




/* Container css start  */

.d_container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1650px) {
    .d_container {
        width: 1620px;
    }
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .d_container {
        width: 1199px;
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .d_container {
        width: 970px;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_container {
        width: 750px;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .d_container {
        max-width: 750px;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .d_container {
        max-width: 750px;
        padding: 0px 10px;
    }
}



.outline_none {
    outline: none;
}
.d_p-80{
    padding: 80px 0;
}
.d_cur{
    cursor: pointer;
}
@media(max-width:991px){
    .d_p-80{
        padding: 30px 0;
    }
}