

















/* ///////////////////////////////////////////////////////// container ////////////////////////////////////////////////// */



@media (min-width: 1650px) {
  
}


@media (min-width: 1440px) and (max-width: 1649px) {

}

@media (min-width: 1200px) and (max-width: 1439px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {

   
}

@media (min-width: 576px) and (max-width: 767px) {
    .V_fresh {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
    }

    .V_try_fresh {
        font-size: 36px;
        font-weight: 600;
    }

    .V_lipstic {
        width: 425px;
        height: auto;
    }

    .V_skin_care {
        height: 220px;
    }

    .v_Dry {
        font-size: 26px;
        width: 250px;
        padding-top: 7rem !important;
        padding-left: 30px;
    }

    .v_make {
        font-size: 26px;
        width: 250px;
        padding-top: 7rem !important;
        padding-left: 30px;
    }

    .V_healty_skincare {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 100%;
    }

    .V_overlay_text {
        width: 350px;
        height: 180px;
        font-size: 34px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
   
}

@media (min-width: 300px) and (max-width: 479px) {

}